#1.0 Introduction To Variables

Variables are used to store data, they take memory space based on the type of value we assigning to them. Creating variables in Python is simple, you just have write the variable name on the left side of = and the value on the right side, as shown below. You do not have to explicitly mention the type of the variable, python infer the type based on the value we are assigning.

In [ ]:
num = 100      #num is of type int
str = "Chaitanya"      #str is of type string

In simple terms, Variables are containers for storing data values.

#1.1 Variable name – Identifiers

Variable name is known as identifier. There are few rules that you have to follow while naming the variables in Python.
1. The name of the variable must always start with either a letter or an underscore (_). For example: _str, str, num, _num are all valid name for the variables.
2. The name of the variable cannot start with a number. For example: 9num is not a valid variable name.
3. The name of the variable cannot have special characters such as %, $, # etc, they can only have alphanumeric characters and underscore (A to Z, a to z, 0-9 or _ ).
4. Variable name is case sensitive in Python which means num and NUM are two different variables in python.

## Example

In [ ]:
num = 100
str = "BeginnersBook"
print(num)
print(str)

100
BeginnersBook

#1.2 Creating Variables

Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

## Example

In [ ]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [ ]:
# Variables do not need to be declared with any particular type, and can even change type after they have been set.

x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

#1.3 Multi Words Variable Names

Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable.

##1.31 Camel Case

Each word, except the first, starts with a capital letter

In [ ]:
myVariableName = "John"

##1.32 Pascal Case

Each word starts with a capital letter

In [ ]:
# my has been converted to My
MyVariableName = "John"

##1.33 Snake Case

Each word is separated by an underscore character

In [ ]:
my_variable_name = "John"

#1.4 Casting

If you want to specify the data type of a variable, this can be done with casting.

Two types of Type Casting in Python 

*   Implicit Type Casting
*   Explicit Type Casting

##1.41 Implicit Type Conversion

In this,  methods, Python converts data type into another data type automatically. In this process, users don’t have to involve in this process.

In [ ]:
# Python program to demonstrate
# implicit type Casting

# Python automatically converts
# a to int
a = 7
print(type(a))

# Python automatically converts
# b to float
b = 3.0
print(type(b))

# Python automatically converts
# c to float as it is a float addition
c = a + b
print(c)
print(type(c))

# Python automatically converts
# d to float as it is a float multiplication
d = a * b
print(d)
print(type(d))

<class 'int'>
<class 'float'>
10.0
<class 'float'>
21.0
<class 'float'>

##1.42 Explicit Type Casting

In this method, Python need user involvement to convert the variable data type into certain data type in order to the operation required.

Mainly in type casting can be done with these data type function:

Int() : Int() function take float or string as an argument and return int type object.

float() : float() function take int or string as an argument and return float type object.

str() : str() function take float or int as an argument and return string type object.

###1.421  Type Casting int to float

In [ ]:

# Here, we are casting integer object to float object with float() function.

# Python program to demonstrate
# type Casting

# int variable
a = 5

# typecast to float
n = float(a)

print(n)
print(type(n))

5.0
<class 'float'>

###1.422 Type Casting float to int

In [ ]:

# Here, we are casting float data type into integer data type with int() function.

# Python program to demonstrate
# type Casting

# int variable
a = 5.9

# typecast to int
n = int(a)

print(n)
print(type(n))

5
<class 'int'>

###1.423 Type casting int to string

In [ ]:

# Here, we are casting int data type into string data type with str() function.

# Python program to demonstrate
# type Casting

# int variable
a = 5

# typecast to str
n = str(a)

print(n)
print(type(n))

TypeError: ignored

###1.424 Type Casting string to int

In [ ]:
# Here, we are casting string data type into integer data type with int() function.

# Python program to demonstrate
# type Casting

# string variable
a = "5"

# typecast to int
n = int(a)

print(n)
print(type(n))

5
<class 'int'>

###1.425 Type Casting String to float

In [ ]:
# Here, we are casting string data type into float data type with float() function.

# Python program to demonstrate
# type Casting

# string variable
a = "5.9"

# typecast to float
n = float(a)

print(n)
print(type(n))

5.9
<class 'float'>

#1.5 Many Values to Multiple Variables

Python allows you to assign values to multiple variables in one line

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

#1.6 One Value to Multiple Variables

And you can assign the same value to multiple variables in one line

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

#1.7 Get the Type

You can get the data type of a variable with the type() function.

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

#1.8 Single or Double Quotes?

String variables can be declared either by using single or double quotes:

In [ ]:
x = "John"
# is the same as
x = 'John'

## #Note: Case-Sensitive

Variable names are case-sensitive.

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a

#1.9 Local Variables

Local variables are the variables that declared inside the function and have scope within the function.

In [ ]:
# Declaring a function  
def add():  
    # Defining local variables. They has scope only within a function  
    a = 20  
    b = 30  
    c = a + b  
    print("The sum is:", c)  
  
# Calling a function  
add()

The sum is: 50

#1.11 Global Variables

Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [ ]:
# Create a variable outside of a function, and use it inside the function

x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [ ]:
# Create a variable inside a function, with the same name as the global variable

x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

In [ ]:
# If you use the global keyword, the variable belongs to the global scope:

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Also, use the global keyword if you want to change a global variable inside a function.

In [ ]:
# To change the value of a global variable inside a function, refer to the variable by using the global keyword:

x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

#1.12 Unpack a Collection

If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [ ]:
# Unpack a list

fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

#1.13 Plus and Concatenation Operation on the Variables

In [ ]:
x = 10
y = 20
print(x + y)

p = "Hello"
q = "World"
print(p + " " + q)

30
Hello World

# EXERCISES

##**QUES-1 Assigning Value to Variable**

Create a variable named carname and assign the value Volvo to it.

In [ ]:
carname = "Volvo"

##**QUES-2 Assigning Value to Variable**

Create a variable named x and assign the value 50 to it.

In [ ]:
x=50

##**QUES-3 Sum of Variables**

Display the sum of 5 + 10, using two variables: x and y.

In [ ]:
x=5
y=10
print(x+y)

15

##**QUES-4 Assigning Operation to Variable**

Create a variable called z, assign x + y to it, and display the result.

In [ ]:
x=5
y=10
z=x+y
print(z)

15

##**QUES-5 Invalid Characters**

Remove the illegal characters in the variable name:

`2my-first_name = "John"`

In [ ]:
myfirst_name = "John"

##**QUES-6 Assigning by Syntax**

Insert the correct syntax to assign the same value to all three variables in one code line.

In [ ]:
x=y=zz="Orange"

##**QUES-7 Global Scope**

Insert the correct keyword to make the variable x belong to the global scope.

In [ ]:
def myfunc():
  global x
  x="fantastic"

##**QUES-8 Birth Year**

Write a program using variables for finding and printing the birth year.

In [ ]:
age = 1989
print("Your birth year is" , age)

Your birth year is 1989

##**QUES-9 Printing List**

Write a program to print a list using variables.

In [ ]:
students= ["James","Sarah","Paul","Isabella","Lucas"]
print("List Of Students:")
  
for student in students:
   print(student)

List Of Students:
James
Sarah
Paul
Isabella
Lucas

##**QUES-10 Create-Delete-Print**

Create a variable of value 6 and then delete the variable and print the variable.

In [ ]:
# Assigning a value to x  
x = 6  
print(x)  
# deleting a variable.   
del x  
print(x)

6

NameError: ignored

# Further Reading and References

Following are some resources where you can learn about more arithmetic, conditional and logical operations in Python:

* Python Variables at GeeksforGeeks: [Here](https://www.geeksforgeeks.org/python-variables/)
* Variables in Python Tutorial at Realpython: [Here](https://realpython.com/python-variables/#:~:text=A%20Python%20variable%20is%20a,still%20contained%20within%20the%20object.)
* Python official documentation: [Here](https://docs.python.org/3/tutorial/index.html)


---