# 2.0 Introduction to Strings

Strings are a sequence of characters which can be stored either as a constant or a different variable. Strings are considered as a datatype. Typically, programmers must enclose strings in quotation marks for the data to recognized as a string and not a number or variable name. Shown below are some of the most used string methods on a daily basis and are one of the most commonly asked interview questions.

## 2.01 Constructing Strings

There are two primary ways we can define a new string: we can either wrap some text in 1) double quotes (") or 2) single quotes('). You cannot use one single quote and one double quote, however. There is no functional difference between using either method, but it is recommended that you use only one style for the entire file or project.

In [ ]:
string_single = 'This is a string defined using single quotes'
string_double = "This is a string defined using double quotes"

print(string_single)
print(string_double)

This is a string defined using single quotes
This is a string defined using double quotes

Certain characters, such as the double quotes or single quotes that define the string, require a special *escape character* (`\`) when included in the string.

In [ ]:
# The " must be escaped because it would normal define the string boundary
string_esc_1 = "This notebook is named \"Basic Python Types\"."

# The ' does not have to be scaped because the string is defined by "
string_esc_2 = "This isn't too bad..."

print(string_esc_1)
print(string_esc_2)

This notebook is named "Basic Python Types".
This isn't too bad...

# 2.1 Declaring a string in python:

In [ ]:
# Declaring a string variable
string = "This is a python tutorial"
print(string)

This is a python tutorial

In [ ]:
print(type(string))

<class 'str'>

# 2.2 Escape sequence using Strings

In Python strings, the backslash " " is a special character, also called the "escape" character. It is used in representing certain whitespace characters: "\t" is a tab, "\n" is a new line, and "\r" is a carriage return. Finally, " " can be used to escape itself: "\" is the literal backslash character.

In [ ]:
# THis is an escape sequence.
string = "This is a \"Google Colab\" python notebook"
print(string)

This is a "Google Colab" python notebook

# 2.2 Accessing the String by an Index

Strings can be accessed by their index in order to get the value. To do this all you have to do is just place the number (index value) inside the pair of square brackets along with the name of the string.

In [ ]:
string = "Python"
print(string[2])

t

In [ ]:
print(string[5])

n

# 2.3 String Methods

Here are some of the most common string methods. A method is like a function, but it runs "on" an object. If the variable s is a string, then the code s.lower() runs the lower() method on that string object and returns the result (this idea of a method running on an object is one of the basic ideas that make up Object Oriented Programming, OOP). Here are some of the most common string methods



*   s.lower(), s.upper() -- returns the lowercase or uppercase version of the string
*   s.strip() -- returns a string with whitespace removed from the start and end
*   s.isalpha()/s.isdigit()/s.isspace()... -- tests if all the string chars are in the various character classes
*   s.startswith('other'), s.endswith('other') -- tests if the string starts or ends with the given other string
*   s.find('other') -- searches for the given other string (not a regular expression) within s, and returns the first index where it begins or -1 if not found
*   s.replace('old', 'new') -- returns a string where all occurrences of 'old' have been replaced by 'new'
*   s.split('delim') -- returns a list of substrings separated by the given delimiter. The delimiter is not a regular expression, it's just text. 'aaa,bbb,ccc'.split(',') -> ['aaa', 'bbb', 'ccc']. As a convenient special case s.split() (with no arguments) splits on all whitespace chars.
*   s.join(list) -- opposite of split(), joins the elements in the given list together using the string as the delimiter. e.g. '---'.join(['aaa', 'bbb', 'ccc']) -> aaa---bbb---ccc

## 2.31 Slicing a string

Slicing a string helps to get a set of characters from a string. This is really helpful when we want to access a particular set of characters in a string. Below are some slicing variants that are useful.

In [ ]:
string = "programming"
string

'programming'

## 2.32 Getting  one character of the string

In [ ]:
print(string[0:1])

NameError: ignored

## 2.33 Getting the first three characters from the string

In [ ]:
print(string[0:3])

In [ ]:
print(string[:3])

pro

## 2.34 Getting the first three characters from the string (Alternate)

### 2.341 Getting the last three characters from the string

In [ ]:
print(string[-3:])

ing

### 2.342 Getting all characters but excluding three first characters from the string

In [ ]:
print(string[3:])

NameError: ignored

### 2.343 Getting all characters but excluding the last three characters from the string

In [ ]:
print(string[:-3])

NameError: ignored

##2.35 Reversing all the characters in a given string

In [ ]:
print(string[::-1])

gnimmargorp

##2.36 Alternative to printing all characters in a string

In [ ]:
print(string[::])

## 2.37 Splitting a String

Sometimes splitting a string is a handy option because it is one of the easiest ways to convert a string into a list. I know I have not spoken about the list but keep in mind that split converts a string into a list.

In [ ]:
String = "Computer Programming"
String

'Computer Programming'

In [ ]:
type(String)

str

In [ ]:
list = String.split()
list

['Computer', 'Programming']

In [ ]:
type(list)

list

## 2.37 Replacing a String

The Replace function in python is one of the best function that can be applied to strings. For example, shown below is a string "Money" we need to replace the dollar and the comma sign and this can be done as shown below.

In [ ]:
Money = '$113,678'
print(Money)
print("===========================")
print(type(Money))

$113,678
===========================
<class 'str'>

In [ ]:
Money = Money.replace('$', '')
Money

'113,678'

In [ ]:
Money = Money.replace(',', '')
Money

'113678'

In [ ]:
Money = int(Money)
print(Money)
print("===========================")
print(type(Money))

113678
===========================
<class 'int'>

## 2.38 Join

The join function is python is used to join the string according to the specified pattern.

In [ ]:
String = "Python Programming is fun"
String

'Python Programming is fun'

In [ ]:
String = " ".join(String)
String

'P y t h o n   P r o g r a m m i n g   i s   f u n'

## 2.39 Capitalize

The capitalize function capitalizes the first character in the word or a string.

In [ ]:
string = "programming"
string

'programming'

In [ ]:
string = string.capitalize()
string

'Programming'

## 2.38 Center

The center method returns a string which is padded with the specified character.

In [ ]:
string = "python"
string

'python'

In [ ]:
print(string.center(15, '*'))

*****python****

## 2.39 Find

The find method returns the index of the given substring position. If the value is not found it returns, -1.

In [ ]:
string = "programming"
string

'programming'

In [ ]:
print(string.find('p'))

0

In [ ]:
print(string.find('t'))

-1

## 2.40 Strip

#2.4 String Splicing and Substrings

You may often want to grab a small piece, or *substring*, of a larger string. This process, called **splicing**, utilizes the index position introduced in the section above to define the start and endpoints of the substring you want. In fact, the syntax we used to get a specific character is a single-character splicing operator! The syntax for more complicated substrings builds upon that syntax

In [ ]:
# Use start:stop to define the range
# The stop index is not included

hello[0:5]

NameError: ignored

In [ ]:
# You can slice from anywhere within the string
hello[7:13]

In [ ]:
# You can use a : as a shortcut notation for the first or last character
print(hello[:5])  # Shortcut for first character until stop
print(hello[7::])  # Shortcut to start until last character

In [ ]:
# You can use a negative start number to slice from the back
hello[-6::]

In [ ]:
# You can also determine how frequently you pick characters by passing in a third number
hello[::2]  # Pick every 2nd character

The strip function strips or removes the white spaces both from the starting and the ending of a string.

In [ ]:
string = "     programming is easy    "
string

'     programming is easy    '

In [ ]:
print(string.strip())

programming is easy

#2.5 Searching for a Substring

Sometimes, you want to determine if a string exists in another string. Depending on what you want to do, there are two ways you can do this: using `str.find()` or using the `in` operator.

In [ ]:
# `str.find()` will return the location of the first instance search string.
hello.find("world")

NameError: ignored

In [ ]:
# str.find() will return -1 if the search string doesn't exist
hello.find("Greetings")

In [ ]:
# the in operator is a Boolean operator that returns true if the search string exists
"Hello" in hello

Therefore, if you should use str.find() only if you need the exact location of the substring. Otherwise, you should use the 'in' operator.

#2.6 Concatenating Strings

In other cases, you may want to combine, or *concatenate* multiple strings. There are three ways you can do this operation. First, you can use the addition (+) operator to combine multiple strings in a similar way to adding numeric types. Notably, the addition operator doesn't add any separators, so you must explicitly include spaces if needed.

In [ ]:
# Use the `+` operator like a numeric type
add_greetings = "Hello" + " " + "world!"
print(add_greetings)

Hello world!

You can also use the multiplication (`*`) operator to 
create a new string made up of duplicates. Similar to the situation above, the operator does not add white space or separators when creating the final output.

In [ ]:
# Use the `*` operator like a numeric type
mult_greetings = "Hello world! " * 5
print(mult_greetings)

Hello world! Hello world! Hello world! Hello world! Hello world!

Lastly, Python offers the str.join() method to combine strings. This method allows you to define the *separator* that it will use to generate the concatenated string.

In [ ]:
# Use str.join()
sep = " "  # Use a " " separator
join_greeting = sep.join(["Hello", "world!"])
print(join_greeting)

Hello world!

# Exercises on Control Codes Within Strings

##**QUES-1 Palindrome**

Check whether the given string is a palindrome or not.

`
str = aIbohPhoBiA
`

In [ ]:
# Program to check if a string is palindrome or not

my_str = 'aIbohPhoBiA'

# make it suitable for caseless comparison
my_str = my_str.casefold()

# reverse the string
rev_str = reversed(my_str)

# check if the string is equal to its reverse
if list(my_str) == list(rev_str):
   print("The string is a palindrome.")
else:
   print("The string is not a palindrome.")

The string is a palindrome.

##**QUES-2 Removing Punctuations**

Remove Punctuations From the given string.

```
str = Hello!!!, he said ---and went.
```

> **Hint:** Punctuations are `!()-[]{};:'"\,<>./?@#$%^&*_~`

In [ ]:
# define punctuation
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

my_str = "Hello!!!, he said ---and went."

# To take input from the user
# my_str = input("Enter a string: ")

# remove punctuation from the string
no_punct = ""
for char in my_str:
   if char not in punctuations:
       no_punct = no_punct + char

# display the unpunctuated string
print(no_punct)

Hello he said and went

##**QUES-3 Number of Occurences**

Check the Number of Occurences of a Character in the given string.

```
str = univai
```

In [ ]:
count = 0

my_string = "univai"
my_char = "i"

for i in my_string:
    if i == my_char:
        count += 1

print(count)

2

In [ ]:
#alternate method

my_string = "univai"
my_char = "i"

print(my_string.count(my_char))

2

##**QUES-4 Anagram**

Check if the given two strings are an anagram.

```
str1: Race  str2: Care
```

In [ ]:
str1 = "Race"
str2 = "Care"

# convert both the strings into lowercase
str1 = str1.lower()
str2 = str2.lower()

# check if length is same
if(len(str1) == len(str2)):

    # sort the strings
    sorted_str1 = sorted(str1)
    sorted_str2 = sorted(str2)

    # if sorted char arrays are same
    if(sorted_str1 == sorted_str2):
        print(str1 + " and " + str2 + " are anagram.")
    else:
        print(str1 + " and " + str2 + " are not anagram.")

else:
    print(str1 + " and " + str2 + " are not anagram.")

race and care are anagram.

##**QUES-5 Capitalizing**

Capitalize the First Character of the given string.

```
str = python is fun
```

In [ ]:
my_string = "python is fun"

print(my_string[0].upper() + my_string[1:])

Python is fun

##**QUES-6 Permutations**

Compute all the permutations of the given string.

```
str = yup
```

In [ ]:
def get_permutation(string, i=0):

    if i == len(string):   	 
        print("".join(string))

    for j in range(i, len(string)):

        words = [c for c in string]
   
        # swap
        words[i], words[j] = words[j], words[i]
   	 
        get_permutation(words, i + 1)

print(get_permutation('yup'))

yup
ypu
uyp
upy
puy
pyu
None

##**QUES-7 Trim Whitespace**

Trim Whitespace From the given String

```
str = Python 
```

In [ ]:
my_string = " Python "

print(my_string.strip())

Python

In [ ]:
#special cae /n case
#here we need to trim only the whitespace and not the /n
my_string = " \nPython "

print(my_string.strip(" "))

Python

##**QUES-8 Multiline String**

Create a Long Multiline String.

```
str = The only way to learn to program is by writing code.
```

In [ ]:
my_string = '''The only way to
learn to program is
by writing code.'''

print(my_string)

The only way to
learn to program is
by writing code.

In [ ]:
# alternate method
# Using parentheses and a single/double quotes
my_string = ("The only way to \n"
        	"learn to program is \n"
        	"by writing code.")

print(my_string)

The only way to
learn to program is
by writing code.

##**QUES-9 Substring**

Get a Substring from the given String.

```
str = I love python.
```

In [ ]:
my_string = "I love python."

# prints "love"
print(my_string[2:6])

# prints "love python."
print(my_string[2:])

# prints "I love python"
print(my_string[:-1])

love
love python.
I love python

## **QUES-10 String to Datetime**

 Convert the given String to Datetime.

```
 str = Mar 11 2011 11:31AM
 ```

In [ ]:
#for this we import a simple module called the datetime
from datetime import datetime

my_date_string = "Mar 11 2011 11:31AM"

datetime_object = datetime.strptime(my_date_string, '%b %d %Y %I:%M%p')

print(type(datetime_object))
print(datetime_object)

<class 'datetime.datetime'>
2011-03-11 11:31:00

##**QUES-11 Properties of a String**

Check if the given string is a number (Float).

```
str1 = s12 str2:1.123
```

In [ ]:
def isfloat(num):
    try:
        float(num)
        return True
    except ValueError:
        return False

print(isfloat('s12'))
print(isfloat('1.123'))

False
True

# Further Reading and References

Following are some resources where you can learn about more arithmetic, conditional and logical operations in Python:

* Loops & Control Statements at GeeksforGeeks: [Here](https://www.geeksforgeeks.org/loops-and-loop-control-statements-continue-break-and-pass-in-python/)
* Strings & Character Data Tutorial at Realpython: [Here](https://realpython.com/python-strings/)
* Python official documentation: [Here](https://docs.python.org/3/tutorial/index.html)