# Lists Tuples and Sets

In this notebook, you will learn to store more than one valuable in a single variable. 

This by itself is one of the most powerful ideas in programming, and it introduces a number of other central concepts such as loops. 

If this section ends up making sense to you, you will be able to start writing some interesting programs, and you can be more confident that you will be able to develop overall competence as a programmer.

#6.0 Introduction to Lists

A list is a collection of items, that is stored in a variable. The items should be related in some way, but there are no restrictions on what can be stored in a list. Here is a simple example of a list, and how we can quickly access each item in the list.

In [ ]:
students = ['bernice', 'aaron', 'cody']

for student in students:
    print("Hello, " + student.title() + "!")

Hello, Bernice!
Hello, Aaron!
Hello, Cody!

##6.01 Naming and defining a list

Since lists are collection of objects, it is good practice to give them a plural name. If each item in your list is a car, call the list 'cars'. If each item is a dog, call your list 'dogs'. This gives you a straightforward way to refer to the entire list ('dogs'), and to a single item in the list ('dog').

In Python, square brackets designate a list. To define a list, you give the name of the list, the equals sign, and the values you want to include in your list within square brackets.

In [ ]:
dogs = ['border collie', 
        'australian cattle dog', 
        'labrador retriever']

Python has many useful list methods that makes it really easy to work with lists. Here are some of the commonly used list methods.

<table border="0"><tbody><tr><th>Methods</th>
<th>Descriptions</th>
</tr><tr><td><a href="/python-programming/methods/list/append">append()</a></td>
<td>adds an element to the end of the list</td>
</tr><tr><td><a href="/python-programming/methods/list/extend">extend()</a></td>
<td>adds all elements of a list to another list</td>
</tr><tr><td><a href="/python-programming/methods/list/insert">insert()</a></td>
<td>inserts an item at the defined index</td>
</tr><tr><td><a href="/python-programming/methods/list/remove">remove()</a></td>
<td>removes an item from the list</td>
</tr><tr><td><a href="/python-programming/methods/list/pop">pop()</a></td>
<td>returns and removes an element at the given index</td>
</tr><tr><td><a href="/python-programming/methods/list/clear">clear()</a></td>
<td>removes all items from the list</td>
</tr><tr><td><a href="/python-programming/methods/list/index">index()</a></td>
<td>returns the index of the first matched item</td>
</tr><tr><td><a href="/python-programming/methods/list/count">count()</a></td>
<td>returns the count of the number of items passed as an argument</td>
</tr><tr><td><a href="/python-programming/methods/list/sort">sort()</a></td>
<td>sort items in a list in ascending order</td>
</tr><tr><td><a href="/python-programming/methods/list/reverse">reverse()</a></td>
<td>reverse the order of items in the list</td>
</tr><tr><td><a href="/python-programming/methods/list/copy">copy()</a> </td>
<td>returns a shallow copy of the list</td>
</tr></tbody></table>

##6.02 Accessing one item in a list

Items in a list are identified by their position in the list, starting with zero. This will almost certainly trip you up at some point. Programmers even joke about how often we all make "off-by-one" errors, so don't feel bad when you make this kind of error.

To access the first element in a list, you give the name of the list, followed by a zero in parentheses.

In [ ]:
dogs = ['border collie', 
        'australian cattle dog', 
        'labrador retriever']

dog = dogs[0]
print(dog.title())

Border Collie

The number in parentheses is called the index of the item. 

Because lists start at zero, the index of an item is always one less than its position in the list. 
Because of that, Python is said to be a zero-indexed 
language (as many others, like C, or Java)

So to get the second item in the list, we need to use an index of 1, and so on..

In [ ]:
dog = dogs[1]
print(dog.title())

Australian Cattle Dog

##6.03 Accessing the last items in a list
You can probably see that to get the last item in this list, we would use an index of 2. This works, but it would only work because our list has exactly three items. To get the last item in a list, no matter how long the list is, you can use an index of -1.

In [ ]:
dog = dogs[-1]
print(dog.title())

Labrador Retriever

This syntax also works for the second to last item, the third to last, and so forth.

In [ ]:
dog = dogs[-2]
print(dog.title())

Australian Cattle Dog

You can't use a negative number larger than the length of the list, however.

In [ ]:
dog = dogs[-4]
print(dog.title())

IndexError: list index out of range

#6.1 Lists and Looping

##6.11 Accessing all elements in a list

This is one of the most important concepts related to lists. You can have a list with a million items in it, and in three lines of code you can write a sentence for each of those million items. If you want to understand lists, and become a competent programmer, make sure you take the time to understand this section.

We use a loop to access all the elements in a list. A loop is a block of code that repeats itself until it runs out of items to work with, or until a certain condition is met. In this case, our loop will run once for every item in our list. With a list that is three items long, our loop will run three times.

Let's take a look at how we access all the items in a list, and then try to understand how it works.

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

for dog in dogs:
    print(dog)

border collie
australian cattle dog
labrador retriever

We have already seen how to create a list, so we are really just trying to understand how the last two lines work. These last two lines make up a loop, and the language here can help us see what is happening:

    for dog in dogs:

- The keyword "for" tells Python to get ready to use a loop.
- The variable "dog", with no "s" on it, is a temporary placeholder variable. This is the variable that Python will place each item in the list into, one at a time.
- The first time through the loop, the value of "dog" will be 'border collie'.
- The second time through the loop, the value of "dog" will be 'australian cattle dog'.
- The third time through, "dog" will be 'labrador retriever'.
- After this, there are no more items in the list, and the loop will end.

###6.111 Doing more with each item

We can do whatever we want with the value of "dog" inside the loop. In this case, we just print the name of the dog.

    print(dog)

We are not limited to just printing the word dog. We can do whatever we want with this value, and this action will be carried out for every item in the list.

Let's say something about each dog in our list.

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

for dog in dogs:
    print('I like ' + dog + 's.')

I like border collies.
I like australian cattle dogs.
I like labrador retrievers.

###6.112 Inside and outside the loop

Python uses indentation to decide what is inside the loop and what is outside the loop. Code that is inside the loop will be run for every item in the list. Code that is not indented, which comes after the loop, will be run once just like regular code.

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

for dog in dogs:
    print('I like ' + dog + 's.')
    print('No, I really really like ' + dog +'s!\n')
    
print("\nThat's just how I feel about dogs.")

I like border collies.
No, I really really like border collies!

I like australian cattle dogs.
No, I really really like australian cattle dogs!

I like labrador retrievers.
No, I really really like labrador retrievers!


That's just how I feel about dogs.

Notice that the last line only runs once, after the loop is completed. Also notice the use of newlines ("\n") to make the output easier to read.

##6.12 Enumerating a list

When you are looping through a list, you may want to know the index of the current item. You could always use the *list.index(value)* syntax, but there is a simpler way. The *enumerate()* function tracks the index of each item for you, as it loops through the list:

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

print("Results for the dog show are as follows:\n")
for index, dog in enumerate(dogs):
    place = str(index)
    print("Place: " + place + " Dog: " + dog.title())

Results for the dog show are as follows:

Place: 0 Dog: Border Collie
Place: 1 Dog: Australian Cattle Dog
Place: 2 Dog: Labrador Retriever

To enumerate a list, you need to add an *index* variable to hold the current index. So instead of

    for dog in dogs:
    
You have

    for index, dog in enumerate(dogs)
    
The value in the variable *index* is always an integer. If you want to print it in a string, you have to turn the integer into a string:

    str(index)

The index always starts at 0, so in this example the value of *place* should actually be the current index, plus one:

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

print("Results for the dog show are as follows:\n")
for index, dog in enumerate(dogs):
    place = str(index + 1)
    print("Place: " + place + " Dog: " + dog.title())

Results for the dog show are as follows:

Place: 1 Dog: Border Collie
Place: 2 Dog: Australian Cattle Dog
Place: 3 Dog: Labrador Retriever

###6.121 A common looping error
One common looping error occurs when instead of using the single variable *dog* inside the loop, we accidentally use the variable that holds the entire list:

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

for dog in dogs:
    print(dogs)

['border collie', 'australian cattle dog', 'labrador retriever']
['border collie', 'australian cattle dog', 'labrador retriever']
['border collie', 'australian cattle dog', 'labrador retriever']

In this example, instead of printing each dog in the list, we print the entire list every time we go through the loop. Python puts each individual item in the list into the variable *dog*, but we never use that variable. Sometimes you will just get an error if you try to do this:

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

for dog in dogs:
    print('I like ' + dogs + 's.')

TypeError: ignored

##6.13 The FOR (iteration) loop

The 'for' loop statement is the most widely used iteration mechanisms in Python.

* Almost every structure in Python can be iterated (*element by element*) by a 'for' loop
    - a list, a tuple, a dictionary, $\ldots$ (more details will follows)

* In Python, also 'while' loops are permitted, but 'for' is the one you would see (and use) most of the time!

### 6.131 FOR Special keywords

Python allows two **keywords** to be used within a 'for' loop: **break** and **continue**.

The two keywords have two **different** meanings:

* **Break** used to *immediatly break the loop and exit!*
* **Continue** used to *skip to the **next** iteration step!*

**NOTE**: The two keywords are permitted with 'while' loops as well!

#6.2 Common List Operations

##6.21 Modifying elements in a list

You can change the value of any element in a list if you know the position of that item.

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

dogs[0] = 'australian shepherd'
print(dogs)

['australian shepherd', 'australian cattle dog', 'labrador retriever']

##6.22 Finding an element in a list

If you want to find out the position of an element in a list, you can use the index() function.

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

print(dogs.index('australian cattle dog'))

1

This method returns a ValueError if the requested item is not in the list.

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

print(dogs.index('poodle'))

ValueError: 'poodle' is not in list

##6.23 Testing whether an item is in a list

You can test whether an item is in a list using the "in" keyword. This will become more useful after learning how to use if-else statements.

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

print('australian cattle dog' in dogs)
print('poodle' in dogs)

True
False

##6.24 Adding items to a list

### Appending items to the end of a list
We can add an item to a list using the append() method. This method adds the new item to the end of the list.

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
dogs.append('poodle')

for dog in dogs:
    print(dog.title() + "s are cool.")

Border Collies are cool.
Australian Cattle Dogs are cool.
Labrador Retrievers are cool.
Poodles are cool.

### Inserting items into a list
We can also insert items anywhere we want in a list, using the insert() function. We specify the position we want the item to have, and everything from that point on is shifted one position to the right. In other words, the index of every item after the new item is increased by one.

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
dogs.insert(1, 'poodle')

print(dogs)

['border collie', 'poodle', 'australian cattle dog', 'labrador retriever']

Note that you have to give the position of the new item first, and then the value of the new item. If you do it in the reverse order, you will get an error.

##6.25 Creating an empty list

Now that we know how to add items to a list after it is created, we can use lists more dynamically. We are no longer stuck defining our entire list at once.

A common approach with lists is to define an empty list, and then let your program add items to the list as necessary. This approach works, for example, when starting to build an interactive web site. Your list of users might start out empty, and then as people register for the site it will grow. This is a simplified approach to how web sites actually work, but the idea is realistic.

Here is a brief example of how to start with an empty list, start to fill it up, and work with the items in the list. The only new thing here is the way we define an empty list, which is just an empty set of square brackets.

In [ ]:
# Create an empty list to hold our users.
usernames = []

# Add some users.
usernames.append('bernice')
usernames.append('cody')
usernames.append('aaron')

# Greet all of our users.
for username in usernames:
    print("Welcome, " + username.title() + '!')

Welcome, Bernice!
Welcome, Cody!
Welcome, Aaron!

If we don't change the order in our list, we can use the list to figure out who our oldest and newest users are.

In [ ]:
# Create an empty list to hold our users.
usernames = []

# Add some users.
usernames.append('bernice')
usernames.append('cody')
usernames.append('aaron')

# Greet all of our users.
for username in usernames:
    print("Welcome, " + username.title() + '!')

# Recognize our first user, and welcome our newest user.
print("\nThank you for being our very first user, " + usernames[0].title() + '!')
print("And a warm welcome to our newest user, " + usernames[-1].title() + '!')

Welcome, Bernice!
Welcome, Cody!
Welcome, Aaron!

Thank you for being our very first user, Bernice!
And a warm welcome to our newest user, Aaron!

Note that the code welcoming our newest user will always work, because we have used the index -1. If we had used the index 2 we would always get the third user, even as our list of users grows and grows.

##6.26 Sorting a List

We can sort a list alphabetically, in either order.

In [ ]:
students = ['bernice', 'aaron', 'cody']

# Put students in alphabetical order.
students.sort()

# Display the list in its current order.
print("Our students are currently in alphabetical order.")
for student in students:
    print(student.title())

#Put students in reverse alphabetical order.
students.sort(reverse=True)

# Display the list in its current order.
print("\nOur students are now in reverse alphabetical order.")
for student in students:
    print(student.title())

Our students are currently in alphabetical order.
Aaron
Bernice
Cody

Our students are now in reverse alphabetical order.
Cody
Bernice
Aaron

###6.261 sorted() vs. sort()
Whenever you consider sorting a list, keep in mind that you can not recover the original order. If you want to display a list in sorted order, but preserve the original order, you can use the sorted() function. The sorted() function also accepts the optional reverse=True argument.

In [ ]:
students = ['bernice', 'aaron', 'cody']

# Display students in alphabetical order, but keep the original order.
print("Here is the list in alphabetical order:")
for student in sorted(students):
    print(student.title())

# Display students in reverse alphabetical order, but keep the original order.
print("\nHere is the list in reverse alphabetical order:")
for student in sorted(students, reverse=True):
    print(student.title())

print("\nHere is the list in its original order:")
# Show that the list is still in its original order.
for student in students:
    print(student.title())

Here is the list in alphabetical order:
Aaron
Bernice
Cody

Here is the list in reverse alphabetical order:
Cody
Bernice
Aaron

Here is the list in its original order:
Bernice
Aaron
Cody

###6.262 Reversing a list
We have seen three possible orders for a list:
- The original order in which the list was created
- Alphabetical order
- Reverse alphabetical order

There is one more order we can use, and that is the reverse of the original order of the list. The *reverse()* function gives us this order.

In [ ]:
students = ['bernice', 'aaron', 'cody']
students.reverse()

print(students)

['cody', 'aaron', 'bernice']

Note that reverse is permanent, although you could follow up with another call to *reverse()* and get back the original order of the list.

###6.263 Sorting a numerical list
All of the sorting functions work for numerical lists as well.

In [ ]:
numbers = [1, 3, 4, 2]

# sort() puts numbers in increasing order.
numbers.sort()
print(numbers)

# sort(reverse=True) puts numbers in decreasing order.
numbers.sort(reverse=True)
print(numbers)

[1, 2, 3, 4]
[4, 3, 2, 1]

In [ ]:
numbers = [1, 3, 4, 2]

# sorted() preserves the original order of the list:
print(sorted(numbers))
print(numbers)

[1, 2, 3, 4]
[1, 3, 4, 2]

In [ ]:
numbers = [1, 3, 4, 2]

# The reverse() function also works for numerical lists.
numbers.reverse()
print(numbers)

[2, 4, 3, 1]

##6.27 Finding the length of a list

You can find the length of a list using the *len()* function.

In [ ]:
usernames = ['bernice', 'cody', 'aaron']
user_count = len(usernames)

print(user_count)

3

There are many situations where you might want to know how many items in a list. If you have a list that stores your users, you can find the length of your list at any time, and know how many users you have.

In [ ]:
# Create an empty list to hold our users.
usernames = []

# Add some users, and report on how many users we have.
usernames.append('bernice')
user_count = len(usernames)

print("We have " + str(user_count) + " user!")

usernames.append('cody')
usernames.append('aaron')
user_count = len(usernames)

print("We have " + str(user_count) + " users!")

We have 1 user!
We have 3 users!

On a technical note, the *len()* function returns an integer, which can't be printed directly with strings. We use the *str()* function to turn the integer into a string so that it prints nicely:

In [ ]:
usernames = ['bernice', 'cody', 'aaron']
user_count = len(usernames)

print("This will cause an error: " + user_count)

TypeError: Can't convert 'int' object to str implicitly

In [ ]:
usernames = ['bernice', 'cody', 'aaron']
user_count = len(usernames)

print("This will work: " + str(user_count))

This will work: 3

In [ ]:
# Ex 3.7 : Working List

# put your code here

In [ ]:
# Ex 3.8 : Starting From Empty

# put your code here

In [ ]:
# Ex 3.9 : Ordered Working List

# put your code here

In [ ]:
# Ex 3.10 : Ordered Numbers

# put your code here

In [ ]:
# Ex 3.11 : List Lengths

# put your code here

#6.3 Removing Items from a List

Hopefully you can see by now that lists are a dynamic structure. We can define an empty list and then fill it up as information comes into our program. To become really dynamic, we need some ways to remove items from a list when we no longer need them. You can remove items from a list through their position, or through their value.

##6.31Removing items by position

If you know the position of an item in a list, you can remove that item using the *del* command. To use this approach, give the command *del* and the name of your list, with the index of the item you want to move in square brackets:

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
# Remove the first dog from the list.
del dogs[0]

print(dogs)

['australian cattle dog', 'labrador retriever']

##6.32 Removing items by value

You can also remove an item from a list if you know its value. To do this, we use the *remove()* function. Give the name of the list, followed by the word remove with the value of the item you want to remove in parentheses. Python looks through your list, finds the first item with this value, and removes it.

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
# Remove australian cattle dog from the list.
dogs.remove('australian cattle dog')

print(dogs)

['border collie', 'labrador retriever']

Be careful to note, however, that *only* the first item with this value is removed. If you have multiple items with the same value, you will have some items with this value left in your list.

In [ ]:
letters = ['a', 'b', 'c', 'a', 'b', 'c']
# Remove the letter a from the list.
letters.remove('a')

print(letters)

['b', 'c', 'a', 'b', 'c']

##6.33 Popping items from a list

There is a cool concept in programming called "popping" items from a collection. Every programming language has some sort of data structure similar to Python's lists. All of these structures can be used as queues, and there are various ways of processing the items in a queue.

One simple approach is to start with an empty list, and then add items to that list. When you want to work with the items in the list, you always take the last item from the list, do something with it, and then remove that item. The *pop()* function makes this easy. It removes the last item from the list, and gives it to us so we can work with it.

This is easier to show with an example

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
last_dog = dogs.pop()

print(last_dog)
print(dogs)

labrador retriever
['border collie', 'australian cattle dog']

This is an example of a first-in, last-out approach. The first item in the list would be the last item processed if you kept using this approach. We will see a full implementation of this approach later on, when we learn about *while* loops.

You can actually pop any item you want from a list, by giving the index of the item you want to pop. So we could do a first-in, first-out approach by popping the first iem in the list:

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
first_dog = dogs.pop(0)

print(first_dog)
print(dogs)

border collie
['australian cattle dog', 'labrador retriever']

##Exercises

#### Famous People
- Make a list that includes the names of four famous people.
- Remove each person from the list, one at a time, using each of the four methods we have just seen:
    - Pop the last item from the list, and pop any item except the last item.
    - Remove one item by its position, and one item by its value.
- Print out a message that there are no famous people left in your list, and print your list to prove that it is empty.

In [ ]:
# Ex 3.12 : Famous People
fpeople = ['david bowie', 'robert plant', 'obama', 'taylor swift']
#Remove each person from the list, one at a time, using each of the four methods we have just seen
fpeople.remove('taylor swift')
print(fpeople)
del fpeople[2]
print(fpeople)
bowie=fpeople.pop(0)
print(bowie,fpeople)
last=fpeople.pop()
print('there are no more famous people in the list')
print(fpeople)
# put your code here

['david bowie', 'robert plant', 'obama']
['david bowie', 'robert plant']
david bowie ['robert plant']
there are no more famous people in the list
[]

In [ ]:
#Pop the last item from the list
fpeople = ['david bowie', 'robert plant', 'obama', 'taylor swift']
fpeople.pop()
print(fpeople)
# and pop any item except the last item.
fpeople = ['david bowie', 'robert plant', 'obama', 'taylor swift']
for _ in range(0,len(fpeople)-1):
    fpeople.pop(0)
print(fpeople)

fpeople = ['david bowie', 'robert plant', 'obama', 'taylor swift']
fpeople.remove('obama')
del fpeople[2]
print(fpeople)

['david bowie', 'robert plant', 'obama']
['taylor swift']
['david bowie', 'robert plant']

Want to see what functions are?

At this point, you might have noticed we have a fair bit of repetetive code in some of our examples. This repetition will disappear once we learn how to use functions.

#6.4 Slicing a List

Since a list is a collection of items, we should be able to get any subset of those items. For example, if we want to get just the first three items from the list, we should be able to do so easily. The same should be true for any three items in the middle of the list, or the last three items, or any x items from anywhere in the list. These subsets of a list are called *slices*.

To get a subset of a list, we give the position of the first item we want, and the position of the first item we do *not* want to include in the subset. So the slice *list[0:3]* will return a list containing items 0, 1, and 2, but not item 3.

Here is how you get a batch containing the first three items.

In [ ]:
usernames = ['bernice', 'cody', 'aaron', 'ever', 'dalia']

# Grab the first three users in the list.
first_batch = usernames[0:3]

for user in first_batch:
    print(user.title())

Bernice
Cody
Aaron

If you want to grab everything up to a certain position in the list, you can also leave the first index blank:

In [ ]:
usernames = ['bernice', 'cody', 'aaron', 'ever', 'dalia']

# Grab the first three users in the list.
first_batch = usernames[:3]

for user in first_batch:
    print(user.title())

Bernice
Cody
Aaron

When we grab a slice from a list, the original list is not affected:

In [ ]:
usernames = ['bernice', 'cody', 'aaron', 'ever', 'dalia']

# Grab the first three users in the list.
first_batch = usernames[0:3]

# The original list is unaffected.
for user in usernames:
    print(user.title())

Bernice
Cody
Aaron
Ever
Dalia

We can get any segment of a list we want, using the slice method:

In [ ]:
usernames = ['bernice', 'cody', 'aaron', 'ever', 'dalia']

# Grab a batch from the middle of the list.
middle_batch = usernames[1:4]

for user in middle_batch:
    print(user.title())

Cody
Aaron
Ever

To get all items from one position in the list to the end of the list, we can leave off the second index:

In [ ]:
usernames = ['bernice', 'cody', 'aaron', 'ever', 'dalia']

# Grab all users from the third to the end.
end_batch = usernames[2:]

for user in end_batch:
    print(user.title())

Aaron
Ever
Dalia

#6.5 Copying a list
You can use the slice notation to make a copy of a list, by leaving out both the starting and the ending index. This causes the slice to consist of everything from the first item to the last, which is the entire list.

In [ ]:
usernames = ['bernice', 'cody', 'aaron', 'ever', 'dalia']

# Make a copy of the list.
copied_usernames = usernames[:]
print("The full copied list:\n\t", copied_usernames)

# Remove the first two users from the copied list.
del copied_usernames[0]
del copied_usernames[0]
print("\nTwo users removed from copied list:\n\t", copied_usernames)

# The original list is unaffected.
print("\nThe original list:\n\t", usernames)

The full copied list:
	 ['bernice', 'cody', 'aaron', 'ever', 'dalia']

Two users removed from copied list:
	 ['aaron', 'ever', 'dalia']

The original list:
	 ['bernice', 'cody', 'aaron', 'ever', 'dalia']

In [ ]:
from string import ascii_lowercase
print(ascii_lowercase)
tenletters=ascii_lowercase[0:10]
print(tenletters)

abcdefghijklmnopqrstuvwxyz
abcdefghij

In [ ]:
# Ex 3.13 : Alphabet Slices
#Store the first ten letters of the alphabet in a list.
alphabet=tenletters[:]
#Use a slice to print out the first three letters of the alphabet.
print(alphabet[:3])
#Use a slice to print out any three letters from the middle of your list.
print(alphabet[6:9])
#Use a slice to print out the letters from any point in the middle of your list, to the end.
print(alphabet[6:])
# put your code here

abc
ghi
ghij

In [ ]:
# Ex 3.14 : Protected List
#Your goal in this exercise is to prove that copying a list protects the original list.
#Make a list with three people's names in it.
names=['alice','anna','ada']
#Use a slice to make a copy of the entire list.
copied_names=names[:]
#Add at least two new names to the new copy of the list.
copied_names.append('agata')
copied_names.append('aurora')
#Make a loop that prints out all of the names in the original list, along with a message that this is the original list.
print('This is the original list:')
for name in names:
    print(name.title())
#Make a loop that prints out all of the names in the copied list, along with a message that this is the copied list.
print('This is the copy: ')
for cname in copied_names:
    print(cname.title())
print(copied_names)

#title the names in the original list
print (names)
copied_names = [i.title() for i in copied_names]
print(copied_names)

This is the original list:
Alice
Anna
Ada
This is the copy:
Alice
Anna
Ada
Agata
Aurora
['alice', 'anna', 'ada', 'agata', 'aurora']
['alice', 'anna', 'ada']
['Alice', 'Anna', 'Ada', 'Agata', 'Aurora']

# 6.6 Numerical Lists

There is nothing special about lists of numbers, but there are some functions you can use to make working with numerical lists more efficient. Let's make a list of the first ten numbers, and start working with it to see how we can use numbers in a list.

In [ ]:
# Print out the first ten numbers.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

#6.7 The range() function

This works, but it is not very efficient if we want to work with a large set of numbers. The *range()* function helps us generate long lists of numbers. Here are two ways to do the same thing, using the *range* function.

In [ ]:
# Print the first ten numbers.
for number in range(1,11):
    print(number)

1
2
3
4
5
6
7
8
9
10

The range function takes in a starting number, and an end number. You get all integers, up to but not including the end number. You can also add a *step* value, which tells the *range* function how big of a step to take between numbers:

In [ ]:
# Print the first ten odd numbers.
for number in range(1,21,2):
    print(number)

1
3
5
7
9
11
13
15
17
19

If we want to store these numbers in a list, we can use the *list()* function. This function takes in a range, and turns it into a list:

In [ ]:
# Create a list of the first ten numbers.
numbers = list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

This is incredibly powerful; we can now create a list of the first million numbers, just as easily as we made a list of the first ten numbers. It doesn't really make sense to print the million numbers here, but we can show that the list really does have one million items in it, and we can print the last ten items to show that the list is correct.

In [ ]:
# Store the first million numbers in a list.
numbers = list(range(1,1000001))

# Show the length of the list:
print("The list 'numbers' has " + str(len(numbers)) + " numbers in it.")

# Show the last ten numbers:
print("\nThe last ten numbers in the list are:")
for number in numbers[-10:]:
    print(number)

The list 'numbers' has 1000000 numbers in it.

The last ten numbers in the list are:
999991
999992
999993
999994
999995
999996
999997
999998
999999
1000000

There are two things here that might be a little unclear. The expression

    str(len(numbers))

takes the length of the numbers list, and turns it into a string that can be printed.

The expression 

    numbers[-10:]

gives us a slice of the list. The index '-1' is the last item in the list, and the index '-10' is the item ten places from the end of the list. So the slice 'numbers[-10:]' gives us everything from that item to the end of the list.

#6.8 The min(), max(), and sum() functions

There are three functions you can easily use with numerical lists. As you might expect, the *min()* function returns the smallest number in the list, the *max()* function returns the largest number in the list, and the *sum()* function returns the total of all numbers in the list.

In [ ]:
ages = [23, 16, 14, 28, 19, 11, 38]

youngest = min(ages)
oldest = max(ages)
total_years = sum(ages)

print("Our youngest reader is " + str(youngest) + " years old.")
print("Our oldest reader is " + str(oldest) + " years old.")
print("Together, we have " + str(total_years) + 
      " years worth of life experience.")

Our youngest reader is 11 years old.
Our oldest reader is 38 years old.
Together, we have 149 years worth of life experience.

In [ ]:
# Ex 3.15 : First Twenty
twenties=list(range(1,21))
for n in twenties:
    print(n)
# put your code here

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
# Ex 3.16 : Larger Sets
millions=list(range(0,int(1e6)))
len(millions)

# put your code here

1000000

In [ ]:
# Ex 3.17 : Five Wallets
#Imagine five wallets with different amounts of cash in them. Store these five values in a list, 
#and print out the following sentences:
#"The fattest wallet has valueinit.""Theskinniestwallethas value in it."
#"All together, these wallets have $ value in them."

from random import randint

wallets = [ [randint(1,100) for _ in range(randint(2,10))] for _ in range(5) ]
print(wallets)
amounts = [ sum(wallet) for wallet in wallets ]
print(amounts)
print('The fattest wallet has {} in it'.format(max(amounts)))
print('All together, these wallets have {} value in them'.format(sum(amounts)))
print('The thinnest wallet has {} in it'.format(min(amounts)))

[[76, 62, 53], [53, 69, 30, 5, 65, 9, 39, 75], [7, 37, 60, 64, 36, 68, 71, 88, 40], [96, 6, 15, 74, 3, 79, 54, 8, 35, 99], [1, 67, 57, 71]]
[191, 345, 471, 469, 196]
The fattest wallet has 471 in it
All together, these wallets have 1672 value in them
The thinnest wallet has 191 in it

#6.9 List Comprehensions

I thought carefully before including this section. If you are brand new to programming, list comprehensions may look confusing at first. They are a shorthand way of creating and working with lists. It is good to be aware of list comprehensions, because you will see them in other people's code, and they are really useful when you understand how to use them. That said, if they don't make sense to you yet, don't worry about using them right away. When you have worked with enough lists, you will want to use comprehensions. For now, it is good enough to know they exist, and to recognize them when you see them. If you like them, go ahead and start trying to use them now.

##6.91 Numerical Comprehensions

Let's consider how we might make a list of the first ten square numbers. We could do it like this:

In [ ]:
# Store the first ten square numbers in a list.
# Make an empty list that will hold our square numbers.
squares = []

# Go through the first ten numbers, square them, and add them to our list.
for number in range(1,11):
    new_square = number**2
    squares.append(new_square)
    
# Show that our list is correct.
for square in squares:
    print(square)

1
4
9
16
25
36
49
64
81
100

This should make sense at this point. If it doesn't, go over the code with these thoughts in mind:
- We make an empty list called *squares* that will hold the values we are interested in.
- Using the range() function, we start a loop that will go through the numbers 1-10.
- Each time we pass through the loop, we find the square of the current number by raising it to the second power.
- We add this new value to our list *squares*.
- We go through our newly-defined list and print out each square.

Now let's make this code more efficient. We don't really need to store the new square in its own variable *new_square*; we can just add it directly to the list of squares. The line

    new_square = number**2

is taken out, and the next line takes care of the squaring:

In [ ]:
# Store the first ten square numbers in a list.
# Make an empty list that will hold our square numbers.
squares = []

# Go through the first ten numbers, square them, and add them to our list.
for number in range(1,11):
    squares.append(number**2)
    
# Show that our list is correct.
for square in squares:
    print(square)

1
4
9
16
25
36
49
64
81
100

List comprehensions allow us to collapse the first three lines of code into one line. Here's what it looks like:

In [ ]:
# Store the first ten square numbers in a list.
squares = [number**2 for number in range(1,11)]

# Show that our list is correct.
for square in squares:
    print(square)

1
4
9
16
25
36
49
64
81
100

It should be pretty clear that this code is more efficient than our previous approach, but it may not be clear what is happening. Let's take a look at everything that is happening in that first line:

We define a list called *squares*.

Look at the second part of what's in square brackets:

    for number in range(1,11)

This sets up a loop that goes through the numbers 1-10, storing each value in the variable *number*. Now we can see what happens to each *number* in the loop:

    number**2

Each number is raised to the second power, and this is the value that is stored in the list we defined. We might read this line in the following way:

squares = [raise *number* to the second power, for each *number* in the range 1-10]

### Another example
It is probably helpful to see a few more examples of how comprehensions can be used. Let's try to make the first ten even numbers, the longer way:

In [ ]:
# Make an empty list that will hold the even numbers.
evens = []

# Loop through the numbers 1-10, double each one, and add it to our list.
for number in range(1,11):
    evens.append(number*2)
    
# Show that our list is correct:
for even in evens:
    print(even)

2
4
6
8
10
12
14
16
18
20

Here's how we might think of doing the same thing, using a list comprehension:

evens = [multiply each *number* by 2, for each *number* in the range 1-10]

Here is the same line in code:

In [ ]:
# Make a list of the first ten even numbers.
evens = [number*2 for number in range(1,11)]

for even in evens:
    print(even)

2
4
6
8
10
12
14
16
18
20

##6.92 Non-numerical comprehensions

We can use comprehensions with non-numerical lists as well. In this case, we will create an initial list, and then use a comprehension to make a second list from the first one. Here is a simple example, without using comprehensions:

In [ ]:
# Consider some students.
students = ['bernice', 'aaron', 'cody']

# Let's turn them into great students.
great_students = []
for student in students:
    great_students.append(student.title() + " the great!")

# Let's greet each great student.
for great_student in great_students:
    print("Hello, " + great_student)

Hello, Bernice the great!
Hello, Aaron the great!
Hello, Cody the great!

To use a comprehension in this code, we want to write something like this:

great_students = [add 'the great' to each *student*, for each *student* in the list of *students*]

Here's what it looks like:

In [ ]:
# Consider some students.
students = ['bernice', 'aaron', 'cody']

# Let's turn them into great students.
great_students = [student.title() + " the great!" for student in students]

# Let's greet each great student.
for great_student in great_students:
    print("Hello, " + great_student)

Hello, Bernice the great!
Hello, Aaron the great!
Hello, Cody the great!

In [ ]:
# Ex 3.18 : Multiples of Ten

# put your code here

In [ ]:
# Ex 3.19 : Cubes

# put your code here

In [ ]:
# Ex 3.20 : Awesomeness

# put your code here

In [ ]:
# Ex 3.21 : Working Backwards

# put your code here

#6.10 Strings as Lists

Now that you have some familiarity with lists, we can take a second look at strings. A string is really a list of characters, so many of the concepts from working with lists behave the same with strings.

##6.101 Strings as a list of characters

We can loop through a string using a *for* loop, just like we loop through a list:

In [ ]:
message = "Hello!"

for letter in message:
    print(letter)

H
e
l
l
o
!

We can create a list from a string. The list will have one element for each character in the string:

In [ ]:
message = "Hello world!"

message_list = list(message)
print(message_list)

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', '!']

##6.102 Slicing strings

We can access any character in a string by its position, just as we access individual items in a list:

In [ ]:
message = "Hello World!"
first_char = message[0]
last_char = message[-1]

print(first_char, last_char)

('H', '!')

We can extend this to take slices of a string:

In [ ]:
message = "Hello World!"
first_three = message[:3]
last_three = message[-3:]

print(first_three, last_three)

('Hel', 'ld!')

##6.103 Finding substrings

Now that you have seen what indexes mean for strings, we can search for *substrings*. A substring is a series of characters that appears in a string.

You can use the *in* keyword to find out whether a particular substring appears in a string:

In [ ]:
message = "I like cats and dogs."
dog_present = 'dog' in message
print(dog_present)

True

If you want to know where a substring appears in a string, you can use the *find()* method. The *find()* method tells you the index at which the substring begins.

In [ ]:
message = "I like cats and dogs."
dog_index = message.find('dog')
print(dog_index)

16

Note, however, that this function only returns the index of the first appearance of the substring you are looking for. If the substring appears more than once, you will miss the other substrings.

In [ ]:
message = "I like cats and dogs, but I'd much rather own a dog."
dog_index = message.find('dog')
print(dog_index)

16

If you want to find the last appearance of a substring, you can use the *rfind()* function:

In [ ]:
message = "I like cats and dogs, but I'd much rather own a dog."
last_dog_index = message.rfind('dog')
print(last_dog_index)

48

##6.104 Replacing substrings

You can use the *replace()* function to replace any substring with another substring. To use the *replace()* function, give the substring you want to replace, and then the substring you want to replace it with. You also need to store the new string, either in the same string variable or in a new variable.

In [ ]:
message = "I like cats and dogs, but I'd much rather own a dog."
message = message.replace('dog', 'snake')
print(message)

I like cats and snakes, but I'd much rather own a snake.

##6.105 Counting substrings

If you want to know how many times a substring appears within a string, you can use the *count()* method.

In [ ]:
message = "I like cats and dogs, but I'd much rather own a dog."
number_dogs = message.count('dog')
print(number_dogs)

2

##6.106 Splitting strings

Strings can be split into a set of substrings when they are separated by a repeated character. If a string consists of a simple sentence, the string can be split based on spaces. The *split()* function returns a list of substrings. The *split()* function takes one argument, the character that separates the parts of the string.

In [ ]:
message = "I like cats and dogs, but I'd much rather own a dog."
words = message.split(' ')
print(words)

['I', 'like', 'cats', 'and', 'dogs,', 'but', "I'd", 'much', 'rather', 'own', 'a', 'dog.']

Notice that the punctuation is left in the substrings.

It is more common to split strings that are really lists, separated by something like a comma. The *split()* function gives you an easy way to turn comma-separated strings, which you can't do much with in Python, into lists. Once you have your data in a list, you can work with it in much more powerful ways.

In [ ]:
animals = "dog, cat, tiger, mouse, liger, bear"

# Rewrite the string as a list, and store it in the same variable
animals = animals.split(',')
print(animals)

['dog', ' cat', ' tiger', ' mouse', ' liger', ' bear']

Notice that in this case, the spaces are also ignored. It is a good idea to test the output of the *split()* function and make sure it is doing what you want with the data you are interested in.

One use of this is to work with spreadsheet data in your Python programs. Most spreadsheet applications allow you to dump your data into a comma-separated text file. You can read this file into your Python program, or even copy and paste from the text file into your program file, and then turn the data into a list. You can then process your spreadsheet data using a *for* loop.

##6.107 Other string methods

There are a number of other string methods that we won't go into right here, but you might want to take a look at them. Most of these methods should make sense to you at this point. You might not have use for any of them right now, but it is good to know what you can do with strings. This way you will have a sense of how to solve certain problems, even if it means referring back to the list of methods to remind yourself how to write the correct syntax when you need it.

## Try it For Yourself

#### Counting DNA Nucleotides
- [Project Rosalind](http://rosalind.info/problems/locations/) is a [problem set](http://rosalind.info/problems/list-view/) based on biotechnology concepts. It is meant to show how programming skills can help solve problems in genetics and biology.
- If you have understood this section on strings, you have enough information to solve the first problem in Project Rosalind, [Counting DNA Nucleotides](http://rosalind.info/problems/dna/). Give the sample problem a try.
- If you get the sample problem correct, log in and try the full version of the problem!

#### Transcribing DNA into RNA
- You also have enough information to try the second problem, [Transcribing DNA into RNA](http://rosalind.info/problems/rna/). Solve the sample problem.
- If you solved the sample problem, log in and try the full version!

#### Complementing a Strand of DNA
- You guessed it, you can now try the third problem as well: [Complementing a Strand of DNA](http://rosalind.info/problems/revc/). Try the sample problem, and then try the full version if you are successful.

#6.11 Tuples

Tuples are basically lists that can never be changed. Lists are quite dynamic; they can grow as you append and insert items, and they can shrink as you remove items. You can modify any element you want to in a list. Sometimes we like this behavior, but other times we may want to ensure that no user or no part of a program can change a list. That's what tuples are for.

Technically, lists are *mutable* objects and tuples are *immutable* objects. Mutable objects can change (think of *mutations*), and immutable objects can not change.

##6.111 Defining tuples, and accessing elements


You define a tuple just like you define a list, except you use parentheses instead of square brackets. Once you have a tuple, you can access individual elements just like you can with a list, and you can loop through the tuple with a *for* loop:

In [ ]:
colors = ('red', 'green', 'blue')
print("The first color is: " + colors[0])

print("\nThe available colors are:")
for color in colors:
    print("- " + color)

The first color is: red

The available colors are:
- red
- green
- blue

If you try to add something to a tuple, you will get an error:

In [ ]:
colors = ('red', 'green', 'blue')
colors.append('purple')

AttributeError: 'tuple' object has no attribute 'append'

The same kind of thing happens when you try to remove something from a tuple, or modify one of its elements. Once you define a tuple, you can be confident that its values will not change.

##6.112 Using tuples to make strings

We have seen that it is pretty useful to be able to mix raw English strings with values that are stored in variables, as in the following:

In [ ]:
animal = 'dog'
print("I have a " + animal + ".")

I have a dog.

This was especially useful when we had a series of similar statements to make:

In [ ]:
animals = ['dog', 'cat', 'bear']
for animal in animals:
    print("I have a " + animal + ".")

I have a dog.
I have a cat.
I have a bear.

I like this approach of using the plus sign to build strings because it is fairly intuitive. We can see that we are adding several smaller strings together to make one longer string. This is intuitive, but it is a lot of typing. There is a shorter way to do this, using *placeholders*.

Python ignores most of the characters we put inside of strings. There are a few characters that Python pays attention to, as we saw with strings such as "\t" and "\n". Python also pays attention to "%s" and "%d". These are placeholders. When Python sees the "%s" placeholder, it looks ahead and pulls in the first argument after the % sign:

In [ ]:
animal = 'dog'
print("I have a %s." % animal)

I have a dog.

This is a much cleaner way of generating strings that include values. We compose our sentence all in one string, and then tell Python what values to pull into the string, in the appropriate places.

This is called *string formatting*, and it looks the same when you use a list:

In [ ]:
animals = ['dog', 'cat', 'bear']
for animal in animals:
    print("I have a %s." % animal)

I have a dog.
I have a cat.
I have a bear.

If you have more than one value to put into the string you are composing, you have to pack the values into a tuple:

In [ ]:
animals = ['dog', 'cat', 'bear']
print("I have a %s, a %s, and a %s." % (animals[0], animals[1], animals[2]))

I have a dog, a cat, and a bear.

##6.113 String formatting with numbers

If you recall, printing a number with a string can cause an error:

In [ ]:
number = 23
print("My favorite number is " + number + ".")

TypeError: cannot concatenate 'str' and 'int' objects

Python knows that you could be talking about the value 23, or the characters '23'. So it throws an error, forcing us to clarify that we want Python to treat the number as a string. We do this by casting the number into a string using the str() function:

In [ ]:
number = 23
print("My favorite number is " + str(number) + ".")

My favorite number is 23.

The format string "%d" takes care of this for us. Watch how clean this code is:

In [ ]:
number = 23
print("My favorite number is %d." % number)

My favorite number is 23.

If you want to use a series of numbers, you pack them into a tuple just like we saw with strings:

In [ ]:
numbers = [7, 23, 42]
print("My favorite numbers are %d, %d, and %d." % (numbers[0], numbers[1], numbers[2]))

My favorite numbers are 7, 23, and 42.

Just for clarification, look at how much longer the code is if you use concatenation instead of string formatting:

In [ ]:
numbers = [7, 23, 42]
print("My favorite numbers are " + str(numbers[0]) + ", " + str(numbers[1]) + ", and " + str(numbers[2]) + ".")

My favorite numbers are 7, 23, and 42.

You can mix string and numerical placeholders in any order you want.

In [ ]:
names = ['eric', 'ever']
numbers = [23, 2]
print("%s's favorite number is %d, and %s's favorite number is %d." % (names[0].title(), numbers[0], names[1].title(), numbers[1]))

Eric's favorite number is 23, and Ever's favorite number is 2.

There are more sophisticated ways to do string formatting in Python 3, but we will save that for later because it's a bit less intuitive than this approach. For now, you can use whichever approach consistently gets you the output that you want to see.

In [ ]:
# Ex 3.26 : Gymnast Scores

# put your code here

In [ ]:
# Ex 3.27 : Revision with Tuples

# put your code here

#6.12 Sets


A set object is an unordered collection of distinct hashable objects. Common uses include membership testing, removing duplicates from a sequence, and computing mathematical operations such as intersection, union, difference, and symmetric difference.

In [ ]:
shapes = ['circle','square','triangle','circle']
set_of_shapes = set(shapes)
set_of_shapes

{'circle', 'square', 'triangle'}

In [ ]:
shapes = {'circle','square','triangle','circle'}
for shape in set_of_shapes:
    print(shape)

circle
square
polygon
triangle

In [ ]:
set_of_shapes.add('polygon') 
print(set_of_shapes)

{'circle', 'square', 'polygon', 'triangle'}

##6.121 Exists (Check)

In [ ]:
# Test if circle is IN the set (i.e. exist)
print('Circle is in the set: ', ('circle' in set_of_shapes))
print('Rhombus is in the set:', ('rhombus' in set_of_shapes))

Circle is in the set:  True
Rhombus is in the set: False

##6.122 Operations

In [ ]:
favourites_shapes = set(['circle','triangle','hexagon'])

# Intersection
set_of_shapes.intersection(favourites_shapes)

{'circle', 'triangle'}

In [ ]:
# Union
set_of_shapes.union(favourites_shapes)

{'circle', 'hexagon', 'square', 'triangle'}

In [ ]:
# Difference
set_of_shapes.difference(favourites_shapes)

{'square'}

#EXERCISES

## **QUES-1 Addition**

Write a Python program to sum all the items in a list.

In [ ]:
def sum_list(items):
    sum_numbers = 0
    for x in items:
        sum_numbers += x
    return sum_numbers
print(sum_list([1,2,-8]))

-5

##**QUES-2 Multiplication**

Write a Python program to multiply all the items in a list.

In [ ]:
def multiply_list(items):
    tot = 1
    for x in items:
        tot *= x
    return tot
print(multiply_list([1,2,-8]))

-16

##**QUES-3 Largest Number**

Write a Python program to get the largest number from a list.

In [ ]:
def max_num_in_list( list ):
    max = list[ 0 ]
    for a in list:
        if a > max:
            max = a
    return max
print(max_num_in_list([1, 2, -8, 0]))

2

##**QUES-4 Counting Strings**

Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.
```
Sample List : ['abc', 'xyz', 'aba', '1221']
```

In [ ]:
def match_words(words):
  ctr = 0

  for word in words:
    if len(word) > 1 and word[0] == word[-1]:
      ctr += 1
  return ctr

print(match_words(['abc', 'xyz', 'aba', '1221']))

2

##**QUES-5 Remove Duplicates**
Write a Python program to remove duplicates from a list.

In [ ]:
a = [10,20,30,20,10,50,60,40,80,50,40]

dup_items = set()
uniq_items = []
for x in a:
    if x not in dup_items:
        uniq_items.append(x)
        dup_items.add(x)

print(dup_items)

{40, 10, 80, 50, 20, 60, 30}

##**QUES-6 Empty List?**

 Write a Python program to check a list is empty or not.

In [ ]:
l = []
if not l:
  print("List is empty")

List is empty

##**QUES-7 List Cloning**

Write a Python program to clone or copy a list.

In [ ]:
original_list = [10, 22, 44, 23, 4]
new_list = list(original_list)
print(original_list)
print(new_list)

[10, 22, 44, 23, 4]
[10, 22, 44, 23, 4]

##**QUES-8 Longer than *n***

Write a Python program to find the list of words that are longer than n from a given list of words.
```
str1 = The quick brown fox jumps over the lazy dog
```

In [ ]:
def long_words(n, str):
    word_len = []
    txt = str.split(" ")
    for x in txt:
        if len(x) > n:
            word_len.append(x)
    return word_len	
print(long_words(3, "The quick brown fox jumps over the lazy dog"))

['quick', 'brown', 'jumps', 'over', 'lazy']

##**QUES-9 Common Member**

Write a Python function that takes two lists and returns True if they have at least one common member.
```
list1 = [1,2,3,4,5], [5,6,7,8,9]
list2 = [1,2,3,4,5], [6,7,8,9]
```

In [ ]:
def common_data(list1, list2):
     result = False
     for x in list1:
         for y in list2:
             if x == y:
                 result = True
                 return result
print(common_data([1,2,3,4,5], [5,6,7,8,9]))
print(common_data([1,2,3,4,5], [6,7,8,9]))

True
None

##**QUES-10 Remove & Print**

Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
```
Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
```

In [ ]:
color = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
color = [x for (i,x) in enumerate(color) if i not in (0,4,5)]
print(color)

['Green', 'White', 'Black']

##**QUES-11 3D Array**

Write a Python program to generate a 3*4*6 3D array whose each element is *.

In [ ]:
array = [[ ['*' for col in range(6)] for col in range(4)] for row in range(3)]
print(array)

[[['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']], [['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']], [['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']]]

##**QUES-12 List Shuffling**

Write a Python program to shuffle and print a specified list.

Sample List:
```
color = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
```

In [ ]:
from random import shuffle
color = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
shuffle(color)
print(color)

['Black', 'Red', 'Pink', 'Green', 'Yellow', 'White']

##**QUES-13 Printing Squares**

Write a Python program to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and 30 (both included).

In [ ]:
def printValues():
	l = list()
	for i in range(1,21):
		l.append(i**2)
	print(l[:5])
	print(l[-5:])

printValues()

[1, 4, 9, 16, 25]
[256, 289, 324, 361, 400]

##**QUES-14 Printing Squares**

Write a Python program to generate and print a list except for the first 8 elements, where the values are square of numbers between 5 and 42 (both included).

In [ ]:
def printValues():
	l = list()
	for i in range(6,43):
		l.append(i**2)
	print(l[8:])
printValues()

[196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764]

##**QUES-15 Permutations**

Write a Python program to generate all permutations of a list containing elements 1,2 & 3 in Python.

In [ ]:
import itertools
print(list(itertools.permutations([1,2,3])))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

##**QUES-16 Difference Between Lists**

Write a Python program to get the difference between the two lists.
```
list1 = [1, 3, 5, 7, 9]
list2=[1, 2, 4, 6, 7, 8]
```

In [ ]:
list1 = [1, 3, 5, 7, 9]
list2=[1, 2, 4, 6, 7, 8]
diff_list1_list2 = list(set(list1) - set(list2))
diff_list2_list1 = list(set(list2) - set(list1))
total_diff = diff_list1_list2 + diff_list2_list1
print(total_diff)

[9, 3, 5, 8, 2, 4, 6]

##**QUES-17 Index of List**

Write a Python program access the index of a list.

Sample List:
```
nums = [5, 15, 35, 8, 98]
```

In [ ]:
nums = [5, 15, 35, 8, 98]
for num_index, num_val in enumerate(nums):
    print(num_index, num_val)

0 5
1 15
2 35
3 8
4 98

##**QUES-18 List Into String**

Write a Python program to convert a list of characters into a string.
```
sample list = ['a', 'b', 'c', 'd']
```

In [ ]:
s = ['a', 'b', 'c', 'd']
str1 = ''.join(s)
print(str1)

abcd

##**QUES-19 Flatten a Shallow List**

Write a Python program to flatten a shallow list.

Sample List:
```
original_list = [[2,4,3],[1,5,6], [9], [7,9,0]]
```

In [ ]:
import itertools
original_list = [[2,4,3],[1,5,6], [9], [7,9,0]]
new_merged_list = list(itertools.chain(*original_list))
print(new_merged_list)

[2, 4, 3, 1, 5, 6, 9, 7, 9, 0]

##**QUES-20 Append to Second List**

 Write a Python program to append a list to the second list.
 ```
list1 = [1, 2, 3, 0]
list2 = ['Red', 'Green', 'Black']
 ```

In [ ]:
list1 = [1, 2, 3, 0]
list2 = ['Red', 'Green', 'Black']
final_list = list1 + list2
print(final_list)

[1, 2, 3, 0, 'Red', 'Green', 'Black']

##**QUES-21 Identical Circular Lists**

Write a python program to check whether two lists are circularly identical witht the another.
```
list1 = [10, 10, 0, 0, 10]
list2 = [10, 10, 10, 0, 0]
list3 = [1, 10, 10, 0, 0]
```

In [ ]:
list1 = [10, 10, 0, 0, 10]
list2 = [10, 10, 10, 0, 0]
list3 = [1, 10, 10, 0, 0]

print('Compare list1 and list2')
print(' '.join(map(str, list2)) in ' '.join(map(str, list1 * 2)))
print('Compare list1 and list3')
print(' '.join(map(str, list3)) in ' '.join(map(str, list1 * 2)))

Compare list1 and list2
True
Compare list1 and list3
False

##**QUES-22 Unique Values**

Write a Python program to get unique values from a list. 

Sample List:
```
my_list = [10, 20, 30, 40, 20, 50, 60, 40]
```

In [ ]:
my_list = [10, 20, 30, 40, 20, 50, 60, 40]
print("Original List : ",my_list)
my_set = set(my_list)
my_new_list = list(my_set)
print("List of unique numbers : ",my_new_list)

Original List :  [10, 20, 30, 40, 20, 50, 60, 40]
List of unique numbers :  [40, 10, 50, 20, 60, 30]

##**QUES-23 Lists & Sublists**

Write a Python program to check whether a list contains a sublist.

Sample Dat:
```
a = [2,4,3,5,7]
b = [4,3]
c = [3,7]
```

In [ ]:
def is_Sublist(l, s):
	sub_set = False
	if s == []:
		sub_set = True
	elif s == l:
		sub_set = True
	elif len(s) > len(l):
		sub_set = False

	else:
		for i in range(len(l)):
			if l[i] == s[0]:
				n = 1
				while (n < len(s)) and (l[i+n] == s[n]):
					n += 1
				
				if n == len(s):
					sub_set = True

	return sub_set

a = [2,4,3,5,7]
b = [4,3]
c = [3,7]
print(is_Sublist(a, b))
print(is_Sublist(a, c))

True
False

##**QUES-24 Generating All Sublists**

Write a Python program to generate all sublists of a list.

Sample Data:
```
l1 = [10, 20, 30, 40]
l2 = ['X', 'Y', 'Z']
```

In [ ]:
from itertools import combinations
def sub_lists(my_list):
	subs = []
	for i in range(0, len(my_list)+1):
	  temp = [list(x) for x in combinations(my_list, i)]
	  if len(temp)>0:
	    subs.extend(temp)
	return subs


l1 = [10, 20, 30, 40]
l2 = ['X', 'Y', 'Z']
print("Original list:")
print(l1)
print("S")
print(sub_lists(l1))
print("Sublists of the said list:")
print(sub_lists(l1))
print("\nOriginal list:")
print(l2)
print("Sublists of the said list:")
print(sub_lists(l2))

Original list:
[10, 20, 30, 40]
S
[[], [10], [20], [30], [40], [10, 20], [10, 30], [10, 40], [20, 30], [20, 40], [30, 40], [10, 20, 30], [10, 20, 40], [10, 30, 40], [20, 30, 40], [10, 20, 30, 40]]
Sublists of the said list:
[[], [10], [20], [30], [40], [10, 20], [10, 30], [10, 40], [20, 30], [20, 40], [30, 40], [10, 20, 30], [10, 20, 40], [10, 30, 40], [20, 30, 40], [10, 20, 30, 40]]

Original list:
['X', 'Y', 'Z']
Sublists of the said list:
[[], ['X'], ['Y'], ['Z'], ['X', 'Y'], ['X', 'Z'], ['Y', 'Z'], ['X', 'Y', 'Z']]

##**QUES-25 List to Unique String**

Write a Python program to get variable unique identification number or string.

Sample Data:
```
s = 'w3resource'
```

In [ ]:
x = 100
print(format(id(x), 'x'))
s = 'w3resource'
print(format(id(s), 'x'))

abcd60
7f826a219970

##**QUES-26 Changing Positions in List**
Write a Python program to change the position of every *n*-th value with the *(n+1)*th in a list.

Sample list: 
```
list = [0,1,2,3,4,5]
```

In [ ]:
from itertools import zip_longest, chain, tee
def replace2copy(lst):
    lst1, lst2 = tee(iter(lst), 2)
    return list(chain.from_iterable(zip_longest(lst[1::2], lst[::2])))
n = [0,1,2,3,4,5]
print(replace2copy(n))

[1, 0, 3, 2, 5, 4]

##**QUES-27 Multi to Single Integer**
Write a Python program to convert a list of multiple integers into a single integer.

Sample list:
```
 [11, 33, 50]
```

In [ ]:
L = [11, 33, 50]
print("Original List: ",L)
x = int("".join(map(str, L)))
print("Single Integer: ",x)

Original List:  [11, 33, 50]
Single Integer:  113350

##**QUES-28 Conditonal Split**

Write a Python program to split a list based on first character of word.

Sample Data:
```
word_list = ['be','have','do','say','get','make','go','know','take','see','come','think','look','want','give','use','find','tell','ask','work','seem','feel','leave','call']
```

In [ ]:
from itertools import groupby
from operator import itemgetter

word_list = ['be','have','do','say','get','make','go','know','take','see','come','think',
     'look','want','give','use','find','tell','ask','work','seem','feel','leave','call']

for letter, words in groupby(sorted(word_list), key=itemgetter(0)):
    print(letter)
    for word in words:
        print(word)

a
ask
b
be
c
call
come
d
do
f
feel
find
g
get
give
go
h
have
k
know
l
leave
look
m
make
s
say
see
seem
t
take
tell
think
u
use
w
want
work

##**QUES-29 Missing & Additonal Values**

Write a Python program to find missing and additional values in two lists.

Sample data:
```
Missing values in second list: b,a,c
Additional values in second list: g,h
```

In [ ]:
list1 = ['a','b','c','d','e','f']
list2 = ['d','e','f','g','h']
print('Missing values in second list: ', ','.join(set(list1).difference(list2)))
print('Additional values in second list: ', ','.join(set(list2).difference(list1)))

Missing values in second list:  a,c,b
Additional values in second list:  g,h

##**QUES-30 Positional Insertion of Elements**

Write a Python program to insert an element before each element of a list.

Sample Data:
```
list -> color = ['Red', 'Green', 'Black']
Element to be Added -> color
```

In [ ]:
color = ['Red', 'Green', 'Black']
print("Original List: ",color)
color = [v for elt in color for v in ('c', elt)]
print("Original List: ",color)

# Further Reading and References

Following are some resources where you can learn about more arithmetic, conditional and logical operations in Python:

* Lists Tutorial at W3schools: [Here](https://www.w3schools.com/python/python_lists.asp)
* List, Tuple, Set & Dictionary Tutorial at GeeksforGeeks: [Here](https://www.geeksforgeeks.org/differences-and-applications-of-list-tuple-set-and-dictionary-in-python/)
* Python official documentation: [Here](https://docs.python.org/3/tutorial/index.html)