# Branching using Conditional Statements and Loops in Python

## Branching with `if`, `else` and `elif`

A really powerful feature of programming languages is *branching*: the ability to make decisions and execute a different set of statements based on whether one or more conditions are true.

### The `if` statement

In Python, branching is done using the `if` statement, which is written as follows:

```
if condition:
    statement1
    statement2
```

The `condition` can either be a variable or an expression. If the condition evaluates to `True`, then the statements within the *`if` block* are executed. Note the 4 spaces before `statement1`, `statement 2` etc. The spaces inform Python that these statements are associated with the `if` statement above. This technique of structuring code by adding spaces is called *indentation*.

> **Indentation**: Python relies heavily on *indentation* (white space before a statement) to define structure in code. This makes Python code easy to read and understand, but you can run into problems if you don't use indentation properly. Indent your code by placing the cursor at the start of the line and pressing the `Tab` key once to add 4 spaces. Pressing `Tab` again will indent the code further by 4 more spaces, and press `Shift+Tab` will reduce the indentation by 4 spaces. 


As an example, let's write some code to check and print a message if a given number is even.

In [ ]:
a_number = 34

In [ ]:
if a_number % 2 == 0:
    print("We're inside an if block")
    print('The given number {} is even.'.format(a_number))

We're inside an if block
The given number 34 is even.

Note that we are using the modulus operator `%` to find the remainder from the division of `a_number` by `2`, and then we are using the comparision operator `==` check if the reminder is `0`, indicating that the number is divisible by 2 i.e. it is even. 

Since the number `34` is indeed divisible by `2` the expression `a_number % 2 == 0` evaluates to `True`, so the `print` statement under the `if` statement is executed. Also note that we are using the string `format` method to include the number within the message.

Let's try the above again with an odd number.

In [ ]:
another_number = 33

In [ ]:
if another_number % 2 == 0:
    print('The given number {} is even.'.format(a_number))
    
print('Outside the if block')

Outside the if block

As expected, since the condition `another_number % 2 == 0` evluates to `False`, no message is printed. 

### The `else` statement

It would be nice to print a different method if the number is not even in the above example. This can be done by adding the `else` statement. It is written as follows:

```
if condition:
    statement1
    statement2
else:
    statement4
    statement5

```

If the `condition` evaluates to `True`, the statements in the `if` block are executed, and if it evaluates to `False`, the statements in the `else` block are executed.

In [ ]:
a_number = 34

In [ ]:
if a_number % 2 == 0:
    print('The given number {} is even.'.format(a_number))
else:
    print('The given number {} is odd.'.format(a_number))

The given number 34 is even.

In [ ]:
another_number = 33

In [ ]:
if another_number % 2 == 0:
    print('The given number {} is even.'.format(another_number))
else:
    print('The given number {} is odd.'.format(another_number))

The given number 33 is odd.

Here's another example, which uses the `in` operator to check membership within a tuple.

In [ ]:
the_3_musketeers = ['Athos', 'Porthos', 'Aramis']

In [ ]:
a_candidate = "D'Artagnan"

In [ ]:
if a_candidate in the_3_musketeers:
    print("{} is a musketeer".format(a_candidate))
else:
    print("{} is not a musketeer".format(a_candidate))

D'Artagnan is not a musketeer

### The `elif` statement

Python also provides an `elif` statement (short for "else if"), to chain a series of conditional blocks. The conditions are evaluated one by one. For the first condition that evaluates to `True`, the statements in the respective block are executed, and the remaining conditions are not evaluated. So, in a chain of `if`, `elif`, `elif`... statements, exactly one conditional block is evaluted.

In [ ]:
today = 'Wednesday'

In [ ]:
if today == 'Sunday':
    print("Today is the day of the sun.")
elif today == 'Monday':
    print("Today is the day of the moon.")
elif today == 'Tuesday':
    print("Today is the day of Tyr, the god of war.")
elif today == 'Wednesday':
    print("Today is the day of Odin, the supreme diety.")
elif today == 'Thursday':
    print("Today is the day of Thor, the god of thunder.")
elif today == 'Friday':
    print("Today is the day of Frigga, the goddess of beauty.")
elif today == 'Saturday':
    print("Today is the day of Saturn, the god of fun and feasting.")

Today is the day of Odin, the supreme diety.

In the above example, the first 3 conditions evalute to `False`, so none of the first 3 message are printed. The fourth condition evalues to `True`, so the corresponding message is printed. The remaining conditions are skipped. Try changing the value of `today` above and re-executing the cells to print all the different messages.


To verify that the remaining conditions are skipped, let us try another example.

In [ ]:
a_number = 15

In [ ]:
if a_number % 2 == 0:
    print('{} is divisible by 2'.format(a_number))
elif a_number % 3 == 0:
    print('{} is divisible by 3'.format(a_number))
elif a_number % 5 == 0:
    print('{} is divisible by 5'.format(a_number))
elif a_number % 7 == 0:
    print('{} is divisible by 7'.format(a_number))

15 is divisible by 3

Note that the message `15 is divisible by 5` is not printed because the condition `a_number % 5 == 0` isn't evaluted, since the previous condition `a_number % 3 == 0` evaluates to `True`. This is the key differnce between using a chain of `if`, `elif`, `elif`... statements vs. simply using a chain of `if` statements, where each condition is evaluted independently.

In [ ]:
if a_number % 2 == 0:
    print('{} is divisible by 2'.format(a_number))
if a_number % 3 == 0:
    print('{} is divisible by 3'.format(a_number))
if a_number % 5 == 0:
    print('{} is divisible by 5'.format(a_number))
if a_number % 7 == 0:
    print('{} is divisible by 7'.format(a_number))

15 is divisible by 3
15 is divisible by 5

### Using `if`, `elif` and `else` together

You can also include an `else` statement at the end of a chain of `if`, `elif`... statements. This code within the `else` block are evaluted when none of the conditions hold true.

In [ ]:
a_number = 49

In [ ]:
if a_number % 2 == 0:
    print('{} is divisible by 2'.format(a_number))
elif a_number % 3 == 0:
    print('{} is divisible by 3'.format(a_number))
elif a_number % 5 == 0:
    print('{} is divisible by 5'.format(a_number))
else:
    print('All checks failed!')
    print('{} is not divisible by 2, 3 or 5'.format(a_number))

All checks failed!
49 is not divisible by 2, 3 or 5

Conditions can also combined using the logical operators `and`, `or` and `not`.

In [ ]:
a_number = 12

In [ ]:
if a_number % 3 == 0 and a_number % 5 == 0:
    print("The number {} is divisible by 3 and 5".format(a_number))
elif not a_number % 5 == 0:
    print("The number {} is not divisible by 5".format(a_number))

The number 12 is not divisible by 5

### Non-Boolean Conditions

Note that conditions do not necessarily have to be booleans. In fact, a condition can be any value. The value is convered into a boolean automatically using the `bool` operator. This means that falsy values like `0`, `''`, `{}`, `[]` etc. evalute to `False` and all other values evalute to `True`.

In [ ]:
if '':
    print('The condition evaluted to True')
else:
    print('The condition evaluted to False')

The condition evaluted to False

In [ ]:
if 'Hello':
    print('The condition evaluted to True')
else:
    print('The condition evaluted to False')

The condition evaluted to True

In [ ]:
if { 'a': 34 }:
    print('The condition evaluted to True')
else:
    print('The condition evaluted to False')

The condition evaluted to True

In [ ]:
if None:
    print('The condition evaluted to True')
else:
    print('The condition evaluted to False')

The condition evaluted to False

### Nested conditional statements

The code inside an `if` block can also include an `if` statement inside it. This pattern is called `nesting` and is used when you need to check for another condition after a certain condition is evaluted as true.

In [ ]:
a_number = 15

In [ ]:
if a_number % 2 == 0:
    print("{} is even".format(a_number))
    if a_number % 3 == 0:
        print("{} is also divisible by 3".format(a_number))
    else:
        print("{} is not divisibule by 3".format(a_number))
else:
    print("{} is odd".format(a_number))
    if a_number % 5 == 0:
        print("{} is also divisible by 5".format(a_number))
    else:
        print("{} is not divisibule by 5".format(a_number))

15 is odd
15 is also divisible by 5

Notice how the `print` statements are indented by 8 spaces, to indicate that they are part of the inner `if`/`else` blocks.

> Nested `if`, `else` statements are often confusing to read and prone to human error. It's a good idea to avoid nesting whenever possible, or limit the nesting to 1 or 2 levels.

### Shorthand `if` conditional expression

A common use case of the `if` statement involves testing a condition and setting the value of a variable based on the condition.

In [ ]:
a_number = 13

if a_number % 2 == 0:
    parity = 'even'
else:
    parity = 'odd'

print('The number {} is {}.'.format(a_number, parity))

The number 13 is odd.

Python provides a shorter syntax, which allows writing such conditions in a in a single line of code. It is known as a *conditional expression*, sometimes also referred to as a *ternary operator*. It has the following syntax:

```
x = true_value if condition else false_value
```

It has the same behaviour as the following `if`-`else` block:

```
if condition:
    x = true_value
else:
    x = false_value
```

Let's try it out for the example above.

In [ ]:
parity = 'even' if a_number % 2 == 0 else 'odd'

In [ ]:
print('The number {} is {}.'.format(a_number, parity))

The number 13 is odd.

### Statements and Expressions

The conditional expression highlights an important distinction between *statements* and *expressions* in Python. 

> **Statements**: A statement is an instruction that can be executed. Every line of code we have written so far is a statement e.g. assigning a variable, calling a function, conditional statements using `if`, `else` and `elif`, loops using `for` and `while` etc.

> **Expressions**: An expression is some code that evalutes to a value. Examples include values of different data types, arithmetic expressions, conditions, variables, function calls, conditional expressions etc. 


Most expressions can be executed as statements, but not all statements are expressions e.g. the `if` statement is not an expression since it does not evluate it a value, it simply performs some braching in the code. Similarly, loops and function definitions are not expressions (we'll learn more about these in later sections).

As a rule of thumb, an expression is anything that can appear on the right side of the assignment operator `=`. You can use this as a test for checking whether something is an expression or not. You'll get a syntax error if you try to assign something that is not an expression.

In [ ]:
# if statement
result = if a_number % 2 == 0: 
    'even'
else:
    'odd'

SyntaxError: ignored

In [ ]:
# if expression
result = 'even' if a_number % 2 == 0 else 'odd'

### The `pass` statement

`if` statements cannot be empty, there must be at least one statement in every `if` and `elif` block. You can use the `pass` statement to do nothing and avoid getting an error.

In [ ]:
a_number = 9

In [ ]:
if a_number % 2 == 0:
elif a_number % 3 == 0:
    print('{} is divisible by 3 but not divisible by 2')

IndentationError: ignored

In [ ]:
if a_number % 2 == 0:
    pass
elif a_number % 3 == 0:
    print('{} is divisible by 3 but not divisible by 2'.format(a_number))

9 is divisible by 3 but not divisible by 2

## Iteration with `while` loops

Another powerful feature of programming languages, closely related to branching, is the ability to run one or more statements multiple times. This feature is often referred to as *iteration* on *looping*, and there are two ways to do this in Python: using `while` loops and `for` loops. 

`while` loops have the following syntax:

```
while condition:
    statement(s)
```

The statements in block under `while` are executed repeatedly as long as the `condition` evalutes to `True`. In most cases, the block of statements makes some change to a variable which causes the condition to evalute to `False` after a certain number of iterations.

Let's try to calculate the factorial of `100` using a `while` loop, as an example. The factorial of a number `n` is defined as the product or multiplication of all the numbers from `1` to `n` i.e. `1*2*3*...*(n-2)*(n-1)*n`.

In [ ]:
result = 1
i = 1

while i <= 100:
    result = result * i
    i = i+1

print('The factorial of 100 is: {}'.format(result))

The factorial of 100 is: 93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

Here's how the above code works:

* We initialize two variables `result` and `i`. `result` will contain the final result of the computation. And `i` is used to keep track of the next number to be multiplied with `result`. Both are initialized to 1 (can you explain why?)

* The condition `i<=100` holds true (since `i` is initially `1`), so the statements in the block below `while` are executed.

* The `result` is updated to `result * i`, and `i` is increased by `1` and now has the value `2`.

* At this point, condition `i<=100` is executed again, and since it continues to hold true, the `result` is once again updated to `result * i` and `i` is increased to `3`.

* This process is repeated till the condition becomes false, which happens when `i` holds the value `101`. Once the condition evalues to `False`, the execution of the loop ends and the `print` statement below it is executed. 

Can you see why `result` holds the value of the factorial of 100 at the end of the loop? If not, try adding `print` statements inside inside the loop to print the values of `result` and `i` and the end of each loop.


> Iteration is a really powerful technique because it gives computers a huge advantage over human beings in performing hundreds or millions of repetitive operations really fast. With just 4-5 lines of code, we were able to multiply 100 numbers almost instantly. What's even more interesting is that the same code can be used to multiply a thousand number (just change the condition to `i <= 1000`) in just a few seconds.

You can check how long a cell takes to execute by adding the special *magic* command `%%time` at the top of a cell. Try checking how long it takes to compute the factorial of `100`, `1000`, `10000`, `100000` etc.

In [ ]:
%%time

result = 1
i = 1

while i <= 1000:
    result *= i # same as result = result * i
    i += 1 # same as i = i+1

print(result)

402387260077093773543702433923003985719374864210714632543799910429938512398629020592044208486969404800479988610197196058631666872994808558901323829669944590997424504087073759918823627727188732519779505950995276120874975462497043601418278094646496291056393887437886487337119181045825783647849977012476632889835955735432513185323958463075557409114262417474349347553428646576611667797396668820291207379143853719588249808126867838374559731746136085379534524221586593201928090878297308431392844403281231558611036976801357304216168747609675871348312025478589320767169132448426236131412508780208000261683151027341827977704784635868170164365024153691398281264810213092761244896359928705114964975419909342221566832572080821333186116811553615836546984046708975602900950537616475847728421889679646244945160765353408198901385442487984959953319101723355556602139450399736280750137837615307127761926849034352625200015888535147331611702103968175921510907788019393178114194545257223865541461062892187960223838971476088506276862967146674697562911234082439208160153780889893964518263243671616762179168909779911903754031274622289988005195444414282012187361745992642956581746628302955570299024324153181617210465832036786906117260158783520751516284225540265170483304226143974286933061690897968482590125458327168226458066526769958652682272807075781391858178889652208164348344825993266043367660176999612831860788386150279465955131156552036093988180612138558600301435694527224206344631797460594682573103790084024432438465657245014402821885252470935190620929023136493273497565513958720559654228749774011413346962715422845862377387538230483865688976461927383814900140767310446640259899490222221765904339901886018566526485061799702356193897017860040811889729918311021171229845901641921068884387121855646124960798722908519296819372388642614839657382291123125024186649353143970137428531926649875337218940694281434118520158014123344828015051399694290153483077644569099073152433278288269864602789864321139083506217095002597389863554277196742822248757586765752344220207573630569498825087968928162753848863396909959826280956121450994871701244516461260379029309120889086942028510640182154399457156805941872748998094254742173582401063677404595741785160829230135358081840096996372524230560855903700624271243416909004153690105933983835777939410970027753472000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
CPU times: user 2.49 ms, sys: 0 ns, total: 2.49 ms
Wall time: 5.39 ms

Here's another example that uses two `while` loops to create an interesting pattern.

In [ ]:
line = '*'
max_length = 10

while len(line) <= max_length:
    print(line)
    line += "*"
    
while len(line) > 0:
    print(line)
    line = line[:-1]

*
**
***
****
*****
******
*******
********
*********
**********
***********
**********
*********
********
*******
******
*****
****
***
**
*

Can you see how the above example works? As an exercise, try printing the following pattern using a while loop (Hint: use string concatenation):

```
          *
         **
        ***
       ****
      *****
     ******
      *****
       ****
        ***
         **
          *
```

Here's another one, putting the two together:


```
          *
         ***
        *****
       *******
      *********
     ***********
      *********
       *******
        *****
         ***
          *
```

###While Loop

Unlike for loops, the precise number of iterations is unknown until the program has executed the set of instructions. Therefore, the specified piece of code runs itself till the condition statement is satisfied. Hence, considering this property, the other name of the while loop is “pre-tested loop.” However, the do-while loops work till the termination condition is satisfied.

While loops work in the following manner, the control goes to the condition of the while loop then it checks whether the condition is true or not, if it is true it executes the block of code and then goes check the next iteration. Any statement with the same indentation spaces under the while is considered to be of the same block of code.

![](https://drive.google.com/uc?export=view&id=163VVed0bE48nmKacGZosKyS6NGMJL8eT)

In [ ]:
# A simple example for the while loop:

i = 0
while (i < 3):
    i = i+1
    print("Hello World!")
else:
    print("Looping has finished")

Hello World!
Hello World!
Hello World!
Looping has finished

### Infinite Loops

If the condition in a `while` loop always holds true, then Python repeatedly executes the code within the loop forever, and the execution of the code never completes. This situation is called an infinite loop, and it generally indicates that there's you've made a mistake in your code e.g. using the wrong condition or forgetting to update a variable with an loop which will ultimately make the condition false.

If your code is *stuck* in an infinite loop during execution, just press the "Stop" button from the toolbar (next to "Run") or select "Kernel > Interrupt" from the Jupyter menu bar to stop or *interrupt* the execution of the code. The next 2 cells both lead to infinite loops, and need to be interrupted.

In [ ]:
# INFINITE LOOP - INTERRUPT THIS CELL

result = 1
i = 1

while i <= 100:
    result = result * i
    # forgot to increment i

In [ ]:
# INFINITE LOOP - INTERRUPT THIS CELL

result = 1
i = 1

while i > 0 : # wrong condition
    result *= i
    i += 1

### `break` and `continue` statements

You can use the `break` statment within the body of the loop to immediately stop the execution and *break* out of the loop (even if the condition provided to `while` still holds true).

In [ ]:
i = 1
result = 1

while i <= 100:
    result *= i
    if i == 42:
        print('Magic number 42 reached! Stopping execution..')
        break
    i += 1
    
print('i:', i)
print('result:', result)

Magic number 42 reached! Stopping execution..
i: 42
result: 1405006117752879898543142606244511569936384000000000

As you can see above, the value of `i` at the end of execution is 42. This example also shows how you can use an `if` statement within a `while` loop.

Sometimes you may not want to end the loop entirely, but simply skip the remaining statements in the loop and *continue* to the next loop. You can do this using the `continue` statement.

In [ ]:
i = 1
result = 1

while i < 20:
    i += 1
    if i % 2 == 0:
        print('Skipping {}'.format(i))
        continue
    print('Multiplying with {}'.format(i))
    result = result * i
    
print('i:', i)
print('result:', result)

Skipping 2
Multiplying with 3
Skipping 4
Multiplying with 5
Skipping 6
Multiplying with 7
Skipping 8
Multiplying with 9
Skipping 10
Multiplying with 11
Skipping 12
Multiplying with 13
Skipping 14
Multiplying with 15
Skipping 16
Multiplying with 17
Skipping 18
Multiplying with 19
Skipping 20
i: 20
result: 654729075

In the example above, the final statement of the loop `result = result * i` is skipped when `i` is even, as indicated by the messages printed during execution.

> **Logging**: The process of adding `print` statements at different points in the code (often within loops and conditional statements) for inspecting the values of variables at various stages of execution is called logging. As our programs get more complex, they naturally become prone to human errors. Logging can help in verifying the the program is working as expected. In many cases, `print` statements are added while writing & testing some code, and are removed at the end.

## Iteration with `for` loops

A `for` loop is used for iterating or looping over sequences i.e. lists, tuples, dictionaries, strings and *ranges*. For loops have the following syntax:

```
for value in sequence:
    statement(s)
```

The statements within the loop are executed once for each element in `sequence`. Here's an example that prints all the element of a list.

In [ ]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

for day in days:
    print(day)

Monday
Tuesday
Wednesday
Thursday
Friday

Let's try using `for` loops with some other data types.

In [ ]:
# Looping over a string
for char in 'Monday':
    print(char)

M
o
n
d
a
y

In [ ]:
# Looping over a tuple
for fruit in ('Apple', 'Banana', 'Guava'):
    print("Here's a fruit:", fruit)

Here's a fruit: Apple
Here's a fruit: Banana
Here's a fruit: Guava

In [ ]:
# Looping over a dictionary
person = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True
}

for key in person:
    print("Key:", key, ",", "Value:", person[key])

Key: name , Value: John Doe
Key: sex , Value: Male
Key: age , Value: 32
Key: married , Value: True

Note that while using a dictionary with a `for` loop, the iteration happens over keys within the dictionary. The key can be used within the loop to access the value. You can also iterate directly over the values using the `.values` method of the dictionary, or over key-value pairs using the `.items` method.

In [ ]:
for value in person.values():
    print(value)

John Doe
Male
32
True

In [ ]:
for key_value_pair in person.items():
    print(key_value_pair)

('name', 'John Doe')
('sex', 'Male')
('age', 32)
('married', True)

Since a key-value pair is a tuple, we can also extract out the key & value into separate variables.

In [ ]:
for key, value in person.items():
    print("Key:", key, ",", "Value:", value)

Key: name , Value: John Doe
Key: sex , Value: Male
Key: age , Value: 32
Key: married , Value: True

### Iterating using `range` and `enumerate`

The `range` function is used to create a sequence of numbers that can be iterated over using a `for` loop. It can be used in 3 ways:
 
* `range(n)` - Creates a sequence of numbers from `0` to `n-1`
* `range(a, b)` - Creates a sequence of numbers from `a` to `b-1`
* `range(a, b, step)` - Creates a sequence of numbers from `a` to `b-1` with increments of `step`

Let's try it out.

In [ ]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [ ]:
for i in range(3, 10):
    print(i)

3
4
5
6
7
8
9

In [ ]:
for i in range(3, 14, 4):
    print(i)

3
7
11

Ranges are used for iterating over lists, when you need to track the index of elements while iterating.

In [ ]:
a_list = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

for i in range(len(a_list)):
    print('The value at position {} is {}.'.format(i, a_list[i]))

The value at position 0 is Monday.
The value at position 1 is Tuesday.
The value at position 2 is Wednesday.
The value at position 3 is Thursday.
The value at position 4 is Friday.

Another way to achieve the same result as above is using the `enumerate` function with `a_list` as an input, which returns a tuple containing the index and the corresponding element.

In [ ]:
for i, val in enumerate(a_list):
    print('The value at position {} is {}.'.format(i, val))

The value at position 0 is Monday.
The value at position 1 is Tuesday.
The value at position 2 is Wednesday.
The value at position 3 is Thursday.
The value at position 4 is Friday.

### `break`, `continue` and `pass` statements

Similar to `while` loops, `for` loops also support the `break` statement for breaking out of the loop and `continue` for skipping ahead to the next iteration.

In [ ]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [ ]:
for day in weekdays:
    print('Today is {}'.format(day))
    if (day == 'Wednesday'):
        print("I don't work beyond Wednesday!")
        break

Today is Monday
Today is Tuesday
Today is Wednesday
I don't work beyond Wednesday!

In [ ]:
for day in weekdays:
    if (day == 'Wednesday'):
        print("I don't work on Wednesday!")
        continue
    print('Today is {}'.format(day))

Today is Monday
Today is Tuesday
I don't work on Wednesday!
Today is Thursday
Today is Friday

Simlar to `if` statements, `for` loops cannot be empty, so you can use a `pass` statement in case you don't want do execute any statements inside the loop.

In [ ]:
for day in weekdays:
    pass

### Nested `for` and `while` loops

Similar to conditional statements, loops can be nested inside other loops. This is useful for looping over each element in a list of lists, a list of dictionaries etc.

![](https://drive.google.com/uc?export=view&id=1pg02UTbHTDjXxyJdcA48xncmRYzHjdz8)

In [ ]:
persons = [{'name': 'John', 'sex': 'Male'}, {'name': 'Jane', 'sex': 'Female'}]

for person in persons:
    for key in person:
        print(key, ":", person[key])
    print(" ")

name : John
sex : Male

name : Jane
sex : Female

In [ ]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['apple', 'banana', 'guava']

for day in days:
    for fruit in fruits:
        print(day, fruit)

Monday apple
Monday banana
Monday guava
Tuesday apple
Tuesday banana
Tuesday guava
Wednesday apple
Wednesday banana
Wednesday guava

#Control Statements

The purpose of using control statements is to clarify the control flow of the program. These statements help determine the possible execution or non-execution of certain statements. These statements allow the program to perform an action, skip the code statements, or even jump from one code section to the other. It all depends on the satisfied conditions applied to them.

##The *break* Statement: 

The loop keeps executing until a certain condition is satisfied and the break statement is inserted then the loop is terminated and control flows to the next block of code.

In [ ]:
# A simple example for the break statement:

i = 1
while i > 0:
 
    if i == 3:
 
        break
    print(i)
    i = i +1
print("break")

1
2
break

##The *continue* Statement: 

The loop keeps running until the desired condition is satisfied therefore the loop skip the current iteration and then continue the loop.

In [ ]:
# A simple example for the continue statement:

i = 5
while i > 0:
 
    i = i - 1
    if i == 2:
         continue
    print(i)
 
print("continue")

4
3
1
0
continue

##*for* Loop

For loops are mainly used to iterate over sequential input (list, array, string). As long as the iterator is in the range of the sequence, the for loop will keep executing the statements within it. The scenario where there is a clarification regarding the number of iterations required in the loop, for loop proves helpful. It is beneficial to combine a set of instructions and execute them till all the conditions completely satisfy. 

![](https://drive.google.com/uc?export=view&id=1JOQCehKkWhXPFskjieoD0u5uhZ5dhtE-)

In [ ]:
# A Simple example on for loop:
 
x = ["Germany", "USA", "France"]
 
for i in x:
     
    print(i)

Germany
USA
France

#Nested Loops as Control Statement

The nested for loops act in the following manner, the inner loop makes its full iteration for each iteration of the outer problem. And that can be applied for n-numbers of nested loops.

In [ ]:
# A Simple example for Nested Loops as Control Statement

colors  = ["Green", "Blue", "Red"]
objects = ["Mint ", "Water", "Rose"]
for x in colors:
  for y in objects:
    print(x, y)

Green Mint
Green Water
Green Rose
Blue Mint
Blue Water
Blue Rose
Red Mint
Red Water
Red Rose

#Exercises on Loops

######**QUES-1 Factorial**

Program to find Factorial of a number

In [ ]:


num=int(input("Please enter a number "))

if num <= 0:
  print("Please enter a number greater than or equal to 1")

else:
  factorial= 1
  while(num):
    factorial= factorial*num
    num=num-1
  print("Factorial is {0}".format(factorial))

Please enter a number 5
Factorial is 120

######**QUES-2 Requirement By Condition**

Program to find those numbers which are divisible by 7 and multiple of 5, between 2000 and 3700 (both included)

In [ ]:


n=[]
for x in range(2000, 3701):
    if (x%7==0) and (x%5==0):
        n.append(str(x))
print (','.join(n))

2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185,3220,3255,3290,3325,3360,3395,3430,3465,3500,3535,3570,3605,3640,3675

######**QUES-3 Operations on Series**

Program to count the number of even and odd numbers from a series of numbers.

In [ ]:


numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)
odd = 0
even = 0
for x in numbers:
        if not x % 2:
    	     even+=1
        else:
    	    odd+=1
print("Number of even numbers :",even)
print("Number of odd numbers :",odd)

Number of even numbers : 4
Number of odd numbers : 5

######**QUES-4 Fibonacci Series**

Program to get the Fibonacci series between 0 to 50.

In [ ]:


x,y=0,1

while y<50:
    print(y)
    x,y = y,x+y

1
1
2
3
5
8
13
21
34

######**QUES-5 Checking Validity**

Write a Python program to check the validity of a password. (Use the validity sheet below for the conditions)
> **Note:** Input should be taken from the user.

```
Validation :

At least 1 letter between [a-z] and 1 letter between [A-Z].
At least 1 number between [0-9].
At least 1 character from [$#@].
Minimum length 6 characters.
Maximum length 16 characters.
```

In [ ]:


import re
p= input("Input your password")
x = True
while x:  
    if (len(p)<6 or len(p)>12):
        break
    elif not re.search("[a-z]",p):
        break
    elif not re.search("[0-9]",p):
        break
    elif not re.search("[A-Z]",p):
        break
    elif not re.search("[$#@]",p):
        break
    elif re.search("\s",p):
        break
    else:
        print("Valid Password")
        x=False
        break

if x:
    print("Not a Valid Password")

Input your password1234@Python
Valid Password

######**QUES-6 Age Calculation**

Program to calculate a dog's age in dog's years. If for the first two years, a dog year is equal to 10.5 human years. After that, each dog year equals 4 human years.

In [ ]:


human_age = int(input("Input a dog's age in human years: "))

if human_age < 0:
	print("Age must be positive number.")
	exit()
elif human_age <= 2:
	dog_age = human_age * 10.5
else:
	dog_age = 21 + (human_age - 2)*4

print("The dog's age in dog's years is", dog_age)

Input a dog's age in human years: 12
The dog's age in dog's years is 61

######**QUES-7 Printing Multiples**

Program to print the table of the given number.

In [ ]:

list = [1,2,3,4,5,6,7,8,9,10]  
n = 7  
for i in list:  
    c = n*i  
    print(c)

7
14
21
28
35
42
49
56
63
70

######**QUES-8 Range Function**

Try performing the task mentioned in 1st Question with the use of Range Function.

In [ ]:


n = int(input("Enter the number "))  
for i in range(1,11):  
    c = n*i  
    print(c)

Enter the number 7
7
14
21
28
35
42
49
56
63
70

######**QUES-9 Number Pyramid**

Take input from the user asking number of rows forming a number pyramid on the given number input.

In [ ]:

rows = int(input("Enter the rows"))  
for i in range(0,rows+1):  
    for j in range(i):  
        print(i,end = '')  
    print()

Enter the rows7

1
22
333
4444
55555
666666
7777777

######**QUES-10 Digits in a Number**
Write a program to count the total number of digits in a number using a while loop.

In [ ]:


num = 1863475869
count = 0
while num != 0:
    num = num // 10

    count = count + 1
print("Total digits are:", count)

Total digits are: 10

######**QUES-11 Number to Alphabets**
Write a program to display the number names of the digits of a number entered by user, for example if the number is 231 then output should be Two Three One

In [ ]:


num1 = input("Enter any number : ")
L1 = list(num1)
L = len(L1)
i=0
n = {0 : "Zero", 1 : "One", 2 : "Two", 3 : "Three", 4 : "Four", 5 : "Five", 6 : "Six", 7 : "Seven", 8 : "Eight", 9 : "Nine"}
while (i < L):
    print(n[int(L1[i])], end = " ")
    i = i + 1

Enter any number : 1234
One Two Three Four

######**QUES-12 Armstrong**
Write a program to check whether a number is Armstrong or not. 
> Armstrong number is a number that is equal to the sum of cubes of its digits for example,
153 = $1^3$ + $5^3$ + $3^3$

In [ ]:


num1 = input("Enter any number : ")
p=0
L = len(num1)
L1 = list(num1)
i = 0
while(i < L):
   p = p + int(L1[i])**3
   i = i + 1
if int(num1) == p:
    print("Number is Armstrong")
else:
   print("Number is not Armstrong")

Enter any number : 9876
Number is not Armstrong

######**QUES-13 Adding *n* Terms**
Write a program to add first n terms of the following series using a *for* loop:<br>
`1/1! + 1/2! + 1/3! + …….. + 1/n!`

In [ ]:


num = int(input("Enter any number  : "))
sum = 0
fact = 1
i = 1
while(i < num):
      fact= fact*i
      sum= sum + i/fact
      i = i + 1
print("Sum is       :    ",round(sum, 2))

Enter any number  : 45
Sum is       :     2.72

######**QUES-14 Conditonal End**
Write a program to enter the numbers till the user enter ZERO and at the end it should display the count of positive and negative numbers entered.

In [ ]:


ch = 'Y'
sump = 0
sumn = 0
num=1
while (num!=0):
     num = int(input("Enter any number  : "))
     if num > 0 :
       sump = sump + num
     else:
       sumn = sumn + num
print("Sum of all the positive numbers is  : ", sump)
print("Sum of all the negative numbers is  : ", sumn)

Enter any number  : -10
Enter any number  : 30
Enter any number  : -111
Enter any number  : 2847
Enter any number  : 0
Sum of all the positive numbers is  :  2877
Sum of all the negative numbers is  :  -121

######**QUES-15 Decimal to Binary**

Write a program to convert a positive decimal number to a binary number.

In [ ]:


num = int(input("Enter a positive number: ")) 
bin = 0 
p = 1 
n = num
while n>0:     
     rem = int(n % 2)     
     bin = bin + rem * p
     p = p*10     
     n = n/2 
print("Binary number of",num,"is",bin)

Enter a positive number: 111
Binary number of 111 is 1101111

######**QUES-16 Binary to Decimal**

Write a program to convert a binary number to a decimal number.

In [ ]:


bin = input("Enter a binary number: ")
dec=0
p=0
for i in reversed(bin):
     dec = dec + int(i)*pow(2,p)
     p=p+1
print("Decimal number of binary",bin," number is : ",dec)

Enter a binary number: 1101111
Decimal number of binary 1101111  number is :  111

# Further Reading and References

Following are some resources where you can learn about more arithmetic, conditional and logical operations in Python:

* Python Loops at GeeksforGeeks: [Here](https://www.geeksforgeeks.org/loops-in-python/)
* Loops in Python Interactive Tutorial at Learnpython: [Here](https://www.learnpython.org/en/Loops)
* Python official documentation: [Here](https://docs.python.org/3/tutorial/index.html)